<h2>Detalhes do cliente</h2>

<nav>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            Teste
        </dd>

        <dt>
            CEP
        </dt>

        <dd>
            01234-555
        </dd>

        <dt>
            Imagem de Perfil
        </dt>

        <dd>
            <img id="img-preview" src="LOGO_SOLLARIUM (8).png" style="max-width:200px; max-height:200px;" />
        </dd>

        <dt>
            Nome de Usuário  
        </dt>

        <dd>
            teste123
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            teste@gmail.com
        </dd>

        <dt>
            Tipo Usuário
        </dt>

        <dd>
            Comum
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            Ativo
        </dd>

    </dl>
</nav>
<p>
    <a class="btn btn-success btn-lg" href="/adm-cliente-edit" role="button">Editar</a>
    <a class="btn btn-primary " href="/adm-cliente" role="button">voltar</a>
</p>
