<h2>Novo cliente</h2>

<form action="" method="post">

<nav class="form-horizontal">
    <hr />
    <nav class="form-group">
        <label for="nome" class = "control-label col-md-2">Nome</label>
        <nav class="col-md-10">
            <input  class = "form-control"type="text" name="nome" id="">
        </nav>
    </nav>
    
    <nav class="form-group">
        <label for="cep" class = "control-label col-md-2">CEP</label>
        <nav class="col-md-10">
            <input  class = "form-control" type="text" name="cep" id="">            
        </nav>
    </nav>
    
    <nav class="form-group" style="display:flex">
        <label for="" class = "control-label col-md-2">Imagem Perfil</label>
        <nav class="col-md-5">
            <input  class = "form-control" type="file" name="ImagemPerfil" id="">    
        </nav>
        <img id="img-preview" src="imagens/LOGO_SOLLARIUM (8).png" style="max-width:80px; max-height:80px;"/>
    </nav>
    
    <nav class="form-group">
        <label for="nomeUsuario" class = "control-label col-md-2">Nome de Usuário</label>
        <nav class="col-md-10">
            <input  class = "form-control"type="text" name="nomeUsuario" id="">  
        </nav>
    </nav>
    
    <nav class="form-group">
        <label for="email" class = "control-label col-md-2">E-mail</label>
        <nav class="col-md-10">
            <input  class = "form-control"type="text" name="email" id="">  
        </nav>
    </nav>
    
    <nav class="form-group">
        <label for="senha" class = "control-label col-md-2">Senha</label>
        <nav class="col-md-10">
            <input  class = "form-control" type="password" name="senha" id="">  
        </nav>
    </nav>
    
    <nav class="form-group">
        <label for="tipo" class = "control-label col-md-2">Tipo Usuario</label>
        <nav class="col-md-10">
           <select name="tipo" id=""  class = "form-control">
                <option value="1">Comum</option>
                <option value="2">Gerente</option>
           </select>
        </nav>
    </nav>
    
    <nav class="form-group">
        <label for="status" class = "control-label col-md-2">Status</label>
        <nav class="col-md-10">
            <select   class = "form-control" name="status" id="">
                <option value="1">Ativo</option>
                <option value="0">Inativo</option>
           </select>
        </nav>
    </nav>

    <nav class="form-group">
        <nav class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvar" class="btn btn-success" />
        </nav>
    </nav>
</nav>
</form>

<nav>
    <a class="btn btn-primary btn-lg" href="/adm_cliente" role="button">voltar</a>

</nav>
