/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #030303;
    min-height: 100vh;
}
.material-symbols-outlined {
    align-self: flex-start;
    text-decoration: none;
    color: #ffffff;
    }

.container {
    position: relative;
    top: 0px;
    display: flex;
    flex-direction: row; /* Layout padrão: lado a lado */
    width: 90%;
    height: 500px;
    max-width: 900px;
    align-content: center;
    background-color: #0a0a0a94;
    backdrop-filter: blur(2px);
    border: none;
    border-color: none;
    border-radius: 50px;
    box-shadow: none;
}

/* O Hero é a parte esquerda e o formulário é a parte direita */
.hero {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px;
    background-image: url(/imagens/normal_u0.png);
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço disponível */
    background-position: center; /* Centraliza a imagem */

}
.hero h2 {
    font-family: sans-serif;
    font-size: 2.0em;
    color: white;
    text-align: left;
    margin-left: 20px;
}

main {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.profissional {
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    height: 50px;
    margin-top: 40px;
    background-color: #fda93bfd;
    color: white;
    border: none;
    border-radius: 25px;
}

.cliente {
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    height: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #fda93bfd;
    color: white;
    border: none;
    border-radius: 25px;
}

.profissional:hover, .cliente:hover {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
}

.profissional a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s ease;
    margin-left: 8px;
}

.cliente a{
    color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 15px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.2s ease;
}

.profissional:hover a, .cliente:hover a {
    color: black;
}

h3 {
    font-family: sans-serif;
    text-align: center;
    margin-top: 45px;
    color: white;
    
}

.login {
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 40px;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.2s ease;
}

.login a {
    color: rgb(0, 0, 0);
    padding: 1rem;
    text-decoration: none;
    border-radius: 15px;
    font-size: 0.9rem;
    cursor: pointer;
}

.login:hover {
    background-color: #ffac40;
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.login:hover a {
    color: rgb(255, 255, 255);
}

/* Media Queries para Layout Responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Layout vertical: hero em cima e formulário embaixo */
        height: 70%;
    }

    .hero {
        width: 100%;
        height: 40%; /* Ajusta a altura da imagem */
    }

    main {
        width: 100%;
        padding: 10px;
    }

    .hero h2 {
        font-size: 1.8em;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.5em;
    }

    .profissional, .cliente, .login {
        width: 90%;
    }

    .profissional, .cliente {
        margin-top: 10px;
    }
}
