/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.password-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #1d1a1a;
    border: 1px solid #1d1a1a;
    border-radius: 25px;
    font-size: 14px;
    height: 40px;
    margin-bottom: 20px;
}



.toggle-icon {
    position: absolute; /* Permite posicionar o ícone sobre o input */
    right: 15px; /* Distância da borda direita do input */
    top: 50%; /* Posiciona o ícone verticalmente */
    transform: translateY(-50%); /* Centraliza verticalmente */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}

.container {
    position: relative;
    top: 100px;
    height: 650px;
    display: flex;
    flex-direction: row; /* Layout padrão: lado a lado */
    width: 60%;
    max-width: 900px;
    background-color: #0a0a0a;
    backdrop-filter: blur(2px);
    border: solid 1px;
    border-color: #0a0a0a;
    border-radius: 10px;
    overflow: hidden;
}

/* O Hero é a parte esquerda e o formulário é a parte direita */
.hero {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url(/imagens/normal_u0.png);
    background-size: cover ; /* Ajusta a imagem ao tamanho do contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat;
}
.material-symbols-outlined {
    align-self: flex-start;
    text-decoration: none;
    color: #ffffff;
    }
.hero img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.input-field .error-message{
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}
h2 {
    width: 500px;
    font-family: sans-serif;
    font-size: 2.0em;
    color: white;
    text-align: left;
    margin-left: 20px;
}

main {
    width: 60%;
    padding: 20px;
}

.input-field {
    margin-top: 20px;
    margin-bottom: 12px;
}

.input-field input{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #1d1a1a;
    border: 1px solid #1d1a1a;
    border-radius: 25px;
    font-size: 14px;
    height: 40px;

}
.input-field select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #1d1a1a;
    border: 1px solid #1d1a1a;
    border-radius: 5px;
    font-size: 14px;
    height: 40px;

}


button[type="submit"] {
    width: 100%;
    height: 50px;
    padding: 12px;
    background-color: #ffac40;
    color: white;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    justify-content: center;
    margin-top: 20px;
}
button:hover{
    background-color: #ffffff00;
    color: #f7f7f7;
}

button[type="submit"] a {
    color: white;
    text-decoration: none;
}
#message {
    display: none;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 12px;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}

/* Media Queries para Layout Responsivo */
@media (max-width: 768px) {
    .container {
        position: relative;
        top: 0px;
        flex-direction: column; /* Layout vertical: hero em cima e formulário embaixo */
        height: 70%;
        width: 90%;
    }

    .hero {
        width: 100%;
        height: 120px; /* Ajusta a altura da imagem */
    }

    main {
        width: 100%;
    }
    .hero h2 {
        font-size: 1.4em;
        margin: 10px;
        text-align: left;
        margin-left: 70px;
    }

    .input-group input,
    .input-group select {
        font-size: 12px;
        height: 40px;
    }

    button[type="submit"] {
        font-size: 14px;
        }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }

    .input-group input,
    .input-group select {
        font-size: 10px;
        height: 35px;
    }

    button[type="submit"] {
        font-size: 12px;
    }
}
