body {
    font-family: Arial, sans-serif;
    background-image: url(/imagens/painelsolar_.png);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    height: 300px;
}

.card {
   background-color: #000000;
    border-radius: 10px;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    height: 100px;
}

.card-number {
    font-size: 24px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.card-info {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-group input:focus {
    border-color: #000000;
    outline: none;
}

.submit-button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 100px;
}

.submit-button:hover {
    background-color: #ffffff;
    border: 1px solid black;
    color: #000000;
}

P{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 400;
}