/* Estilos gerais */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0a0a0a;
    min-height: 100vh;
}

.container {
    position: relative;
    top: 20px;
    display: flex;
    flex-direction: row; /* Layout padrão: lado a lado */
    width: 90%;
    height: 500px;
    max-width: 900px;
    background-color: #0a0a0a;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.753);
    align-content: center;
    transition: background-color 5.20s ease, color 30.3s ease;
}

/* O Hero é a parte esquerda e o formulário é a parte direita */
.hero {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 17%;
    background-image: url(/imagens/painelsolar_.png);
    background-size: cover; /* Ajusta a imagem ao tamanho do contêiner */
    background-position: center; /* Centraliza a imagem */
}

.hero h2 {
    
    font-size: 2.0em;
    color: white;
    text-align: left;
    margin-left: 20px;
}

main {
    color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}

.profissional {
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 200px;
    background-color: #e0ad4c;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0px;
}

.cliente {
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 200px;
    background-color: #e0ad4c;
    text-align: center;
    
    margin-bottom: 140px;
}

.profissional:hover, .cliente:hover {
    background-color: #8dadd1;
    color: #fff;
    border: 2px solid black;
}

.profissional a, .cliente a {
    color: white;
    padding: 1rem;
    text-decoration: none;
    border-radius: 15px;
    
    cursor: pointer;
    transition: 0.2s ease;
}

.profissional:hover a, .cliente:hover a {
    color: rgb(255, 255, 255);
}

h3 {
    
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.login {
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    height: 50px;
    border-radius: 200px;
    background-color: #8dadd1;
    text-align: center;
    margin-top: 40px;
    border: 1px solid rgb(0, 0, 0);
    transition: 0.2s ease;
}

.login a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
    border-radius: 15px;
    font-size: 0.9rem;
    cursor: pointer;
}

.login:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-color: rgb(0, 0, 0);
}

.login:hover a {
    color: #e0ad4c;
}

/* Media Queries para Layout Responsivo */
@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Layout vertical: hero em cima e formulário embaixo */
        height: 70%;
    }

    .hero {
        width: 100%;
        height: 40%; /* Ajusta a altura da imagem */
    }

    main {
        width: 100%;
        padding: 10px;
    }

    .hero h2 {
        font-size: 1.8em;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.5em;
    }

    .profissional, .cliente, .login {
        width: 90%;
    }

    .profissional, .cliente {
        margin-top: 10px;
    }
}
