*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: medium;
  color: white;
}

body{
  background-color: #000;
  transition: background-color 5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  min-height: 100vh;
}
.w50{
  width: 50%
  float:left;
  padding-right: 15px;

}

.box{
  display: flex;
  width: 930px;
}
.img-box{
  background-color: rgb(39, 38, 38);
  width: 50%;
  display: flex;
  align-items: center;
  padding:20px;
  border-radius: 20px 0 0 20px;
}

.img-box img{
  width: 100%;

}

.form-box{
  background-color: rgb(19, 18, 18);
  backdrop-filter: blur(40px);
  width: 50%;
  padding: 30x 40px;
  border-radius: 0 20px 20px 0;

}

.form-box h2{
  font-size: 30px;
}

.form-box p{
  font-weight: bold;
}

.form-box p a{
  color:  rgb(218, 87, 39);
  text-decoration: none;
}

.form-box form{
  margin: 20px 0;
}

form .input-group{
  margin-bottom: 15px;
}

form .input-group label{
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

form .input-group input{
  width: 100%;
  height: 47px;
  background-color: rgba(255, 255, 255, 0.32);
  border-radius: 20px;
  outline: none;
  border: 2px solid transparent;
  padding: 15px;
  font-size: 15px;
  color:#616161;
  transition: all0.4s ease;
}

form .input-group input:focus{
  border-color: red;
}

form .input-group button{
   width: 100%;
   height: 47px;
   background-color: purple;
   border-radius: 20px;
   outline: none;
   border: none;
   margin-top: 15px;
   color: white;
   cursor: pointer;
   font-size: 16px;
}

@media (max-width:930px){
  .img-box{
    display: none;

  }

  .box{
    width: 700px;
  }

  .form-box{
    width: 100%;
    border-radius: 20px;
  }
}

@media (max-width:500px) {
  .w50{
    width: 100%;
    padding: 0;
  }
}