

body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

header h2 {
    margin: 0;
    font-size: 24px;
}

header button {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}

header button.cliente {
    background-color:none;
    
}

header button:hover {
    opacity: 0.8;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    flex: 1;
    min-width: 220px;
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input[type="file"] {
    padding: 3px;
}

.form-group .error-message {
    color: red;
    font-size: 12px;
    display: none;
}

.toggle-password {
    background: none;
    border: none;
    color: orange;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
}

input[type="submit"] {
    background-color: black;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: rgb(59, 58, 58);
}

p {
    font-size: 14px;
    margin: 20px 0;
}

.link {
    color: orange;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}
