@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #0a0a0a;
    
}

.material-symbols-outlined {
    align-self: flex-start;
    text-decoration: none;
    color: #ffffff;
    }


.container {
    color: #fff;
    display: flex;
    height: 100%;
    max-height: 700px;
    background-color: #0a0a0a;
    backdrop-filter: blur(2px);
    border: solid 1px;
    border-color: #0a0a0a;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 140px rgba(0, 0, 0, 0.753);
}

.hero {
    width: 40%;
    background-image: url(/imagens/normal_u0.png);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 40px;
    background-repeat: no-repeat;
    background-size: cover; /* Ajusta a imagem para cobrir todo o espaço disponível */
    background-position: center;
}

.hero img {
    display: none; /* Esconda a imagem se não for necessária */
}

main {
    width: 100%;
    padding: 40px;
}

.input-group {
    margin-bottom: 15px;
    padding-top: 50px;
}

.input-group label {
    
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
}
.material-symbols-outlined {
    align-self: flex-start;
    text-decoration: none;
    color: #ffffff;
    }

.input-group input,
.input-group select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: #fff;
    background-color: #1d1a1a;
    border: 1px solid #1d1a1a;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 25px;
}

h1 {
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

h2 {
    
    font-size: 40px;
    width: 250px;
}

.radio-group {
    margin-bottom: 15px;
}

.password-container {
    position: relative;
}

.password-container input {
    width: calc(100% - 30px);
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

button[type="submit"] {

    width: 100%;
    padding: 12px;
    background-color: #e0ad4c;
    color: white;
    border: none;
    border-radius: 200px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

button:hover{
    background-color: #fff;
    color: #e0ad4c;
}

button[type="submit"] a {
    color: white;
    text-decoration: none;
}



.link-container {
    text-align: center; /* Centraliza o conteúdo do contêiner */
    margin-top: 20px; /* Espaçamento acima do contêiner */
}

.link-container a {
    text-decoration: none;
    color: #b1c0c9;
    font-size: 17px;
    font-family: sans-serif;
    display: inline-block; /* Permite aplicar padding e margin */
    margin: 0; /* Remove margem padrão */
    padding: 10px; /* Espaçamento interno do link */
}
link-container-senha {
    text-align: center; /* Centraliza o conteúdo do contêiner */
    margin-top: 20px; /* Espaçamento acima do contêiner */
}

.link-container-senha a {
    text-decoration: none;
    color: #dadada;
    font-size: 14px;
    font-family: sans-serif;
    display: inline-block; /* Permite aplicar padding e margin */
text-align:end ;
margin-bottom: 20px;
}
.link-container-senha:hover a {
color: #e0ad4c;
}
.link-container:hover a {
    color: #e0ad4c;
    }

hr{
    margin-top: 20px;
}
ul.box-redes-sociais {
  
    display: flex;
    background: transparent;
    width: 305px;
    float: none;
    margin: auto;
  }
  ul.box-redes-sociais li {
    list-style: none;
    margin: auto;
  }
  ul.box-redes-sociais li a {
    
    width: 50px;
    height: 50px;
    background-color: #e0ad4c;
    text-align: center;
    line-height: 45px;
    font-size: 22px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 2px solid #e0ad4c;
    z-index: 1;
    margin-top: 20px;
  }
  ul.box-redes-sociais li a .icon {
    position: relative;
    top:-8px;
    color: #262626;
    transition: .3s;
    z-index: 3;
  }
  ul.box-redes-sociais li a:hover .icon {
    color: #fff;
    scale: 1.2;
  }
  ul.box-redes-sociais li a:before {
    content: "";
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    height: 100%;
    background: #f00;
    transition: .6s;
    z-index: 2;
  }
  ul.box-redes-sociais li a:hover:before {
    top: 0;
  }
  ul.box-redes-sociais li.facebook a:before{
    background: #3b5999;
  }
  ul.box-redes-sociais li.instagram a:before{
    background:hsl(0 0% 10%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

  }
/* Media Queries para Layout Responsivo */
@media (max-width: 768px) {
    h1{
        margin-bottom: -40px;
    }
    
    .container {
        height: 800px;
        flex-direction: column; /* Layout vertical: hero em cima e formulário embaixo */
    }

    .hero {
        width: 100%;
        height: 150px; /* Ajusta a altura da imagem */
    }

    main {
        width: 100%;
        padding: 10px;
    }

    .hero h2 {
        font-size: 1.8em;
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .hero h2 {
        font-size: 1.5em;
    }
}
