body {
    font-family: 'Roboto', sans-serif;
}
 

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.712); 
    border-radius: 0;
    padding: 0 20px;
    display: grid; 
    grid-template-columns: auto 1fr; 
    align-items: center; 
    z-index: 1000;
}

header img {
    max-width: 270px;
    height: auto;
    position: relative;
    top: -50%;
}
nav ul {
    font-family:  sans-serif;
    padding: 5px;
    height: 70px;
    position: relative;
    display: flex;
    left: 26%;
    top: -240px;
    color: white;
    align-items: center;
}
 
nav ul li a {
    text-decoration: none;
    color: white;
}
 
nav ul li {
    margin-right: 60px;
    list-style: none;
 
}

.btn-wrap{
    position:relative;
    text-align:unset;
    }

.btn-wrap button{
   position: absolute;
    z-index:1;
    top:60%;
    left:45%;
    width:clamp(100px,96%,200px);             /* largura para o botão */
    height:clamp(10px,10%,60px);            /* altura para o botão */
    padding:0;
    margin:-15px 0 0 -30px;   /* margem à esquerda e ao topo metade da medida do botão */
    background-color:transparent;
    border-color: white;
    color: rgb(255, 255, 255);
    font-size: auto;
    font-family: sans-serif;
    font-weight: 550;
    border-radius: 3px;
}
 
.carousel-container {
    width: 200px;
    height: 10px;
    position: relative;
}
 
.carousel-item {
    width: 200px;
    height: 700px;
    position: relative;
}
 
.carousel-item img {
    object-fit: cover;
    width: 200px;
    height: 700px;
}
 
img {
    object-fit: cover;
    width: 99vw;
    height: 700px;
}

.image-container{
position: relative;
top: -20px;
}
 
.image-container img{
    object-fit: cover;
    height: 700px;
}
 
.image-container h6{
    color: white;
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 20px;
    text-decoration: underline;
}
 

 
@media screen and (max-width: 850px) {
    header {
        height: 70px; 
    }
 
    header img {
        max-width: 150px;
    }

    img {
        width: 100%;
        height: 600px;
        max-height: none; 
    }

    .navbar .links,
    .navbar .action_btn {
      display: none;
    }
   
    .navbar .toggle_btn {
      display: block;
    }
   
    .dropdown_menu {
      display: block;
      position: absolute;
      z-index: 2;
    }
 
   
    .image-container img{
        width: 100%;
        height: 700px;
    }
}