
/* Estilos para o layout da página */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o carrossel */
.carousel {
    overflow: hidden;
    width: 100%;
    max-width: 600px; /* Defina o tamanho máximo do carrossel */
    position: relative;
}

.carousel input[type="radio"] {
    display: none;
}

.carousel figure {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.carousel input[type="radio"]:checked + figure {
    opacity: 1;
}

.carousel figure img {
    width: 100%;
    height: auto;
}

/* Estilos para tornar o carrossel responsivo */
@media screen and (max-width: 768px) {
    .carousel {
        max-width: 90%; /* Defina o tamanho máximo do carrossel para dispositivos móveis */
    }
}
