
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos para o cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

header img {
    max-width: 150px;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

/* Estilos para o carrossel */
.carousel-container {
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel input[type="radio"] {
    display: none;
}

.carousel figure {
    flex: 0 0 auto;
    width: 100%;
}

.carousel figure img {
    width: 100%;
    height: auto;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 20px 0;
}

/* Estilos específicos para dispositivos móveis */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        margin-top: 10px;
    }
    .carousel-container {
        max-width: 90%;
    }
}
