
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Cor de fundo com transparência */
    backdrop-filter: blur(10px); /* Aplicando um efeito de desfoque no fundo */
    z-index: 1000; /* Certifique-se de que o cabeçalho esteja acima de outros elementos */
}



nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}


img {
    width: 100vw; 
    height: auto;
    display: block;
}


.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel {
    display: flex;
    width: 100%;
}

.carousel input[type="radio"] {
    display: none;
}

.carousel figure {
    flex: 0 0 auto;
    width: 100%;
    margin: 0;
}

.carousel figure img {
    width: 100%;
    height: auto;
    object-fit: cover;  
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    header {
        flex-direction: column;
        align-items: center;
    }
    header nav {
        margin-top: 10px;
    }
    .carousel-container {
        max-width: 90%;
    }
}
