
/* Reset de estilos e box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Estilos para o cabeçalho */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px; /* Ajustei a altura do cabeçalho */
    background-color: #333; /* Cor de fundo do cabeçalho */
    display: flex;
    justify-content: space-between; /* Alinha os itens do cabeçalho */
    align-items: center; /* Centraliza verticalmente os itens do cabeçalho */
    padding: 0 20px; /* Adicionei espaçamento interno para os itens do cabeçalho */
    z-index: 1000;
}

/* Estilos para a logo */
header img {
    max-width: 200px;
    height: auto;
}

/* Estilos para o menu */
nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

/* Estilos para os links do menu */
nav ul li a:hover {
    color: #ffcc00; /* Cor do texto ao passar o mouse sobre os links */
}

/* Estilos para o conteúdo principal */
.main-transition {
    margin-top: 80px; /* Ajustei a margem para deixar espaço para o cabeçalho */
    transition: margin-top 0.3s ease;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carousel-item {
    height: 400px;
}

.carousel-item img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* Estilos para o rodapé */
footer {
    text-align: center;
    padding: 20px 0;
}

@media screen and (max-width: 768px) {
    header {
        height: 60px; /* Ajustei a altura do cabeçalho para telas menores */
    }

    header img {
        max-width: 150px; /* Ajustei o tamanho da logo para telas menores */
    }

    nav ul {
        display: none; /* Escondo o menu em telas menores */
    }
}
