/* Estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
body {
    font-family: 'Poppins', sans-serif;
    background-color: #1e1e1e; /* Fundo escuro */
    color: #f0f0f0; /* Cor do texto */
}

.logo a{
    font-size: 1.5rem;     
    font-weight: bold;     
    padding: 0 20px; 
}

.footer{
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(170px, auto));
    background: #0a0a0a;
    gap: 3.5rem;
    left: 0;
    right: 0;
    bottom: 0;
}

.footer-content h4{
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content li{
    margin-bottom: 15px;
}

.footer-content li{
    display: block;
    color: #d6d6d6;
    font-size: 15px;
    font-weight: 400;
    transition: all .40s ease;
}

.footer-content li:hover{
    transform: translateY(-3px) translateX(-5px);
    color: #fff;
}

.footer-content p{
    color: #d6d6d6;
    font-size: 16px;
    line-height: 30px;
    margin: 20px 0;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-right: 17px;
    transition: all .40s ease;
}

.icons a:hover{
    color: #fff;
    transform: translateY(-5px);
}


.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

/* Grid responsivo */
@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 480px) {
    .grid {
        padding: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }
}

.texto {
}

.texto h1{
    font-size: 2.0rem;
    color: #f5ae14;
    font-family: sans-serif;
    margin-bottom: 30px;
    margin-top:35px ;
}

.texto p{
    font-size: 1.25rem;
    font-family:sans-serif;
    line-height: 30px;
    font-weight: 500;
}

.texto1 p{
    font-size: 1.25rem;
    font-family:sans-serif;
    line-height: 30px;
    font-weight: 500;
}

/* Formulário de Orçamento */
.contact-section {
    padding: 3rem 2rem;
    text-align: center;
} 

.contact-section h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
    color: #cfcfcf; /* Cinza claro */
}

form {
    width: 80%;
    margin: 0 auto;
    background-color: #2a2a2a; /* Cinza escuro */
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.form-group {
    flex-direction: column;
    margin-bottom: 1.5rem;
    text-align: left;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 0.8rem;
    border-radius: 10px;
    border:none;
    background-color: #5858586b; /* Cinza mais escuro */
    color: #ffffff; /* Texto claro */
    font-size: 1rem;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color:  #f8bd3f;; /* Amarelo alaranjado */
    outline: none;
    
}

.form-group textarea ,input {
    resize: vertical;
    color: #ffffff;
}

button[type="submit"] {
    padding: 0.8rem 1.5rem;
    background-color:white; /* Laranja */
    color: black;
    border: none;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color:  #f8bd3f;; /* Laranja escuro */
    transform: scale(1.05); /* Efeito de crescimento */
}

/* Mensagem de sucesso */
#success-message {
    font-size: 1rem;
    margin-top: 1.5rem;
    color: #a1e8a1; /* Verde claro */
}

/* Estilo responsivo */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    .cards {
        flex-direction: column;
        gap: 1.5rem;
    }

    .navbar ul {
        display: none;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
    }

    .nav-links li {
        margin: 1rem 0;
        text-align: center;
    }
}
