:root {
  --color-primary: #3498db;
  --color-danger: #f1c40f;
  --color-success: #2ecc71;
  --color-warning: #F7D060;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-light: rgba(0, 0, 0, 0.4);
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 1.2rem;
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
}

/* Adaptações */
.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 23rem;
}

.perfil-info {
  background-color: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
}

.perfil-header {
  display: flex;
  flex-direction: column;
  align-items
}

.perfil-header h2 {
margin-bottom: 1 rem;
}

.photo-actions {
display: flex;
flex-direction: column;
align-items: center;
}

.edit-photo-button {
background-color: var(--color-primary);
padding: 10px 20px;
border: none;
border-radius: 10px;
cursor: pointer;
color: var(--color-white);
}

.form-group {
margin-bottom: 20px;
}

.form-group label {
display: block;
margin-bottom: 10px;
}

.form-group input {
width: 100%;
padding: 10px;
border: none;
border-radius: 10px;
background-color: var(--color-light);
color: var(--color-dark);
}

button[type="submit"] {
background-color: var(--color-primary);
padding: 10px 20px;
border: none;
border-radius: 10px;
cursor: pointer;
color: var(--color-white);
}

/* Responsivo */
@media screen and (max-width: 1200px) {
.container {
width: 95%;
grid-template-columns: 7rem auto 23rem;
}
}

@media screen and (max-width: 768px) {
.container {
width: 100%;
grid-template-columns: 1fr;
padding: 0 var(--padding-1);
}
.perfil-info {
margin-top: 2rem;
}
}