/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #000000;
    height: 80px;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 250px;
    height: 250px;
    margin-top:20px;
}

nav.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav.menu ul li {
    margin: 0 10px;
}

nav.menu a {
    color: #fff;
    text-decoration: none;
}

.profile-icon img {
    width: 24px;
    height: 24px;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

main {
    padding: 20px;
}

.service-details {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
    max-width: 800px;
    margin: 20px auto;
}

button {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
    border: 1px solid black;
    color: #000000;
}
.container {
    text-align: center;
    border: 2px dashed #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
.hidden {
    display: none;
}
video {
    max-width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
canvas {
    display: none;
}
img {
    max-width: 100%;
    margin-top: 20px;
}
#preview-container {
    margin: 10px 0;
}

#preview {
    max-width: 100%;
    height: auto;
}

.hidden {
    display: none;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    nav.menu ul {
        display: none;
        flex-direction: column;
    }

    nav.menu.active ul {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle .bar {
        margin: 5px auto;
    }

    .profile-icon img {
        width: 20px;
        height: 20px;
    }
}
