@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root{
    --body-color: #E4E9F7;
    --sidebar-color:#FFF;
    --primary-color:#f8ae3f;
    --primary-color-light:#F6F5FF;
    --toggle-color:#DDD;
    --text-color:#636262;
    --table-color:#333333dd;

    --tran-02: all 0.2s sease;
    --tran-03: all 0.3s sease;
    --tran-04: all 0.4s sease;
    --tran-05: all 0.5s sease;
}

*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: var(--body-color);
    transition: var(--tran-05);
}

body.dark{
    --logo-color:#e4e4e4;
    --body-color: #272624;
    --sidebar-color:#242526;
    --primary-color:#d19437;
    --primary-color-light:#44424d;
    --toggle-color:#fff;
    --text-color:#ece9e9;
}

.sidebar{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar.close{
    width: 88px;
}


.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}
   


.sidebar li .icon{
    font-size: 20px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebar .image{
    min-width: 60px;
    display: flex;
    align-items: center;
}

.slidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-04);
    white-space: nowrap;
    opacity: 1;

}


.sidebar.close .text{
    opacity: 0;
   
}

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    align-items: center;
}

.sidebar .image-text img{
    width: 40px;
    border-radius: 6px;
}
 
header .image-text .header-text{
    display: flex;
    flex-direction: column;
}

.header-text .name{
    font-weight: 600;
}

.header-text .profession{
    margin-top: 2px;
}



.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
}

.sidebar.close header .toggle{
    transform: translate(-50%);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
    transform: rotate(180deg);
}

.sidebar .search-box{
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    background: var(--primary-color-light);
}


.sidebar li a{
    text-decoration: none;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover{
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 90px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode{
    position: relative;
    background: var(--primary-color-light);
    border-radius: 6px;
}

.menu-bar .mode .moon-sun{
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i{
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun{
    opacity: 0;
}

body.dark .menu-bar .mode i.sun{
    opacity: 1;
}

body.dark .menu-bar .mode i.moon{
    opacity: 0;
}

.menu-bar .mode .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    min-width: 60px;
    background: var(--primary-color-light);
}

.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before{
    content: '';
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    height: 15px;
    width: 15px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

.home{
    height: 100vh;
    left: 250px;
    position: relative;
    width: calc(100% - 250px);
    background: var(--body-color);
    transition: var(--tran-05);
}

.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 8px 40px;
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
}
.tabelas{
    max-width: 800px;
    margin: 20px auto;
    background: var(--sidebar-color);
    border-radius: 5px;

}

h2{
    font-size: 35px;
    font-weight: 600;
    background-color: var(--body-color);
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #353131;
}

th{
    text-align: center;
    color: #fff;
    background-color: var(--table-color);
}

thead {
    background-color: #ffffff;
}

button{
    
    padding: 8px 12px;
    margin: 0 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: var(--tran-03); 
}
.boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.gosto{
    background-color: rgb(2, 160, 2);
    color: var(--sidebar-color);
   border-radius: 50%;
   font-size: 2em;
}

.desgosto{
    background-color: red;
    color: var(--sidebar-color);
    font-size: 2em;
    
}