<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrocliente.css">
    <title>Cadastro - Sollarium</title>
</head>
<body>
    <main>
        <nav class="form-container">
            <h1>Cadastre-se na Sollarium</h1>
            <p>Faça parte do nosso time de clientes e aproveite as melhores soluções em energia solar.</p>
            
            <form action="/cadastrocliente" method="POST">
                <nav class="input-group">
                    <input type="text" name="nome_cliente" placeholder="Nome Completo" required>
                    <input type="text" name="cpf_cliente" placeholder="CPF" required>
                    
                </nav>
                <nav class="input-group">
                    <input type="number" name="endereco_cliente" placeholder="CEP" required>
                    <select id="estados" name="estados" required>
                        <option value="">Selecione seu Estado</option>
                        <option value="SP">São Paulo</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="ES">Espírito Santo</option>
                    </select>
                </nav>
                <nav class="input-group">
                    <input type="email" name="email_cliente" placeholder="E-mail" required>
                    <input type="tel" name="contato_cliente" placeholder="Contato" required>
                </nav>
                <nav class="input-group">
                    <nav class="password-container">
                        <input type="password" id="senha_cliente" name="senha_cliente" placeholder="Senha" required>
                    </nav>
                    <nav class="password-container">
                        <input type="password" id="confirmar_senha_cliente" name="confirmar_senha_cliente" placeholder="Confirmar Senha" required>
                    </nav>
                </nav>
                <button type="submit"><a href="/perfilcliente"></a>Criar Conta</button>
            </form>
        </nav>
    </main>

    <footer>
        <nav class="footer-content">
            <nav>
                <h4>Sobre Nós</h4>
                <p>Sollarium é líder no fornecimento de soluções em energia solar. Oferecemos serviços de instalação,<br> manutenção e consultoria para um futuro mais sustentável.</p>
            </nav>
            <nav>
                <h4>Contato</h4>
                <p>Endereço: Rua Exemplo, 123, São Paulo, SP</p>
                <p>Telefone: (11) 1234-5678</p>
                <p>Email: contato@sollarium.com.br</p>
            </nav>
            <nav>
                <h4>Siga-nos</h4>
                <nav class="icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </nav>
            </nav>
        </nav>
    </footer>
</body>
</html>