<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Join Us</h1>
            <p>Criar uma conta</p>
            <div class="buttons">
                <button id="btnClient">Sou Cliente</button>
                <a href="/souprofissional" ></a><button id="btnProfessional">Sou Profissional</button>
            </div>
        </div>
        <form id="formClient" class="form hidden">
            <h2>Client Registration</h2>
            <input type="text" id="clientName" placeholder="Name" required>
            <input type="email" id="clientEmail" placeholder="Email" required>
            <input type="tel" id="clientPhone" placeholder="Phone" required>
            <select id="clientState" required>
                <option value="">Select State</option>
                <option value="sp">São Paulo</option>
                <option value="rj">Rio de Janeiro</option>
                <option value="mg">Minas Gerais</option>
                <option value="es">Espírito Santo</option>
            </select>
            <input type="text" id="clientCity" placeholder="City" required>
            <input type="text" id="clientCPF" placeholder="CPF/CNPJ" required>
            <input type="password" id="clientPassword" placeholder="Password" required>
            <input type="password" id="clientConfirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Create Account</button>
        </form>
        <form id="formProfessional" class="form hidden">
            <h2>Professional Registration</h2>
            <input type="text" id="proName" placeholder="Name" required>
            <input type="tel" id="proContact" placeholder="Contact" required>
            <input type="email" id="proEmail" placeholder="Email" required>
            <select id="proState" required>
                <option value="">Select State</option>
                <option value="sp">São Paulo</option>
                <option value="rj">Rio de Janeiro</option>
                <option value="mg">Minas Gerais</option>
                <option value="es">Espírito Santo</option>
            </select>
            <input type="text" id="proCity" placeholder="City" required>
            <input type="text" id="proCPF" placeholder="CPF" required>
            <input type="date" id="proBirthDate" placeholder="Birth Date" required>
            <input type="file" id="proDocuments" required>
            <button type="submit">Create Account</button>
        </form>
    </div>
    <script src="/js/cadastro.js"></script>
</body>
</html>
