<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrocliente.css">
    <title>Cadastro</title>
    <script src="/js/cadastrocliente.js"></script>
</head>

<body>
    <nav class="container">
        <nav class="hero">
            <img src="/imagens/pexels-tomfisk-9893729.jpg" alt="">
        </nav>
        <main>
           
            <form action="/cadastrocliente" method="POST">
                <nav class="logo">
                    <img src="./imagens/Design sem nome (1).png" alt="logo">
                      </nav>
                                    <nav class="input-group">
                                        <input type="text" name="nome_cliente" placeholder="Nome Completo" required>
                                        <input type="text" name="cpf_cliente" placeholder="CPF" required>
                                </nav>
                                    <nav class="input-group">
                                        <input type="number" name="endereco_cliente" placeholder="Endereço" required>
                                        <select id="estado_cliente" name="estado_cliente">
                                            <label for="estado">Selecione o seu Estado:</label>
                                            <option value="São paulo">SP</option>
                                            <option value="Rio de Janeiro">RJ</option>
                                            <option value="Minas Gerais">MG</option>
                                            <option value="Espirito Santo">ES</option>
                                        </select>
                                        <nav class="radio-group">
                                        </nav>
                                </nav>
                                    <nav class="input-group">
                                        <input type="email" name="email_cliente" placeholder="E-mail" required>
                                        <input type="tel" name="contato_cliente" placeholder="Contato" required>
                                    </nav>
                                    <nav class="input-group">
                                        <nav class="password-container">
                                            <input type="password" id="senha_cliente" name="senha_cliente" placeholder="Senha" required>
                                           
                                        </nav>
                                        <nav class="password-container">
                                            <input type="password" id="confirmar_senha_cliente" name="confirmar_senha_cliente" placeholder="Confirmar Senha" required>
                                           
                                            
                                        </nav>
                                        </nav>
                                        <button type="submit"><a href="/perfilcliente"></a>Criar Conta</button>
                                    </nav>
                                </form>
                            </main>
                        </nav>
                    
                    </body>
                    
                    </html>