<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrocliente.css">
    <title>Cadastro</title>
    <script src="/js/cadastrocliente.js"></script>
</head>

<body>
    <div class="container">
        <div class="hero">
            <img src="/imgens/a mlehor opção.png" alt="">
        </div>
        <main>
           
            <form action="/cadastrocliente" method="POST">
                <div class="logo">
                    <img src="/imagens/LOGO_SOLLARIUM (8).png" alt="logo">
                </div>
                <div class="input-group">
                    <input type="text" name="nome_cliente" placeholder="Nome Completo" required>
                    <input type="text" name="cpf_cliente" placeholder="CPF" required>
                </div>
                <div class="input-group">
                    <input type="text" name="cidade_cliente" placeholder="Cidade" required>
                    <div class="radio-group">
                        <label>
                            <input type="radio" name="estado_cliente" value="SP" required>
                            SP
                        </label>
                        <label>
                            <input type="radio" name="estado_cliente" value="RJ" required>
                            RJ
                        </label>
                        <label>
                            <input type="radio" name="estado_cliente" value="MG" required>
                            MG
                        </label>
                        <input type="radio" name="estado_cliente" value="ES" required>
                            ES
                        </label>
                </div>
                </div>
                <div class="input-group">
                    <input type="email" name="email_cliente" placeholder="E-mail" required>
                    <input type="tel" name="contato_cliente" placeholder="Contato" required>
                </div>
                <div class="input-group">
                    <div class="password-container">
                        <input type="password" id="senha_cliente" name="senha_cliente" placeholder="Senha" required>
                        <span class="toggle-password" onclick="togglePassword('senha_cliente')">&#128065;</span>
                    </div>
                    <div class="password-container">
                        <input type="password" id="confirmar_senha_cliente" name="confirmar_senha_cliente" placeholder="Confirmar Senha" required>
                        <span class="toggle-password" onclick="togglePassword('confirmar_senha_cliente')">&#128065;</span>
                        
                    </div>
                    </div>
                    <button type="submit"><a href="/perfilcliente"></a>Criar Conta</button>
                </div>
            </form>
        </main>
    </div>

</body>

</html>
