<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Cliente</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section>
        <main>
            <nav class="conteiner">
            <section class="background">
                <nav class="shape"></nav>
                <nav class="shape"></nav>
            </nav>
            <form>
                <h3>Sou cliente</h3>
        
               
                <label for="username">Nome</label>
                <input type="text" placeholder="Nome" id="username">
               
                <label for="email">E-mail</label>
                <input type="email" placeholder="Meuemail@gmail.com" id="email">
        
                <label for="telefone">Telefone</label>
                <input type="tel" placeholder="(00)00000-0000" id="telefone">
        
                <label for="password">Senha</label>
                <input type="password" placeholder="Senha" id="password">
                <button>Cadastre-se</button>
                </form>
            </nav>
        </main>
    </section>
</body>
</html>