<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroclientemobile.css">
    <title>Cadastro</title>
    <script src="/js/cadastrocliente.js"></script>
</head>

<body>
    <nav class="container">
        <nav class="hero">
            <h2>Venha fazer negócios conosco!</h2>
            <img src="/imagens/pexels-tomfisk-9893729.jpg" alt="">
        </nav>
        <main>
           
            <form action="/cadastrocliente" method="POST">
                <nav class="logo">
                
                      </nav>
                                    <nav class="input-group">
                                        <input type="text" name="nome_cliente" placeholder="Nome Completo" required>
                                        <input type="text" name="cpf_cliente" placeholder="CPF" required>
                                </nav>
                                    <nav class="input-group">
                                        <input type="text" name="endereco_cliente" placeholder="Endereço" required>
                                        <select id="estado_cliente" name="estado_cliente">
                                            <label for="estado">Selecione o seu Estado:</label>
                                            <option value="São paulo">SP</option>
                                            <option value="Rio de Janeiro">RJ</option>
                                            <option value="Minas Gerais">MG</option>
                                            <option value="Espirito Santo">ES</option>
                                        </select>
                                        <nav class="radio-group">
                                        </nav>
                                </nav>
                                    <nav class="input-group">
                                        <input type="email" name="email_cliente" placeholder="E-mail" required>
                                        <input type="tel" id="telefone_cliente" name="contato_cliente" placeholder="Contato (00) 00000-0000" required>

                                    </nav>
                                    <nav class="input-group">
                                        <nav class="password-container">
                        
                                            <input type="password" id="password" placeholder="Senha" onfocus="showMessage()" onblur="hideMessage()" oninput="validatePassword()">
                                            <nav id="message" class="invalid">A senha deve ter no mínimo 8 caracteres.</nav>
                                                                               
                                           
                                        </nav>
                                        <nav class="password-container">
                                            <input type="password" id="senha_cliente" name="senha_cliente" placeholder="Confirme sua enha" required>
                               </nav>
                                        </nav>
                                        <button type="submit"><a href="/perfilcliente"></a>Criar Conta</button>
                                    </nav>
                                </form>
                            </main>
                        </nav>
                    
                    </body>
                    
                    </html>