<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/cadastrocliente.css">
    <title>Cadastro - Sollarium</title>
</head>
<body>
   
    <main>
        <div class="form-container">
            <h1>Cadastre-se na Sollarium</h1>
            <p>Faça parte do nosso time de clientes e aproveite as melhores soluções em energia solar.</p>
            
            <form action="/cadastrocliente" method="POST">
                <div class="input-group">
                    <input type="text" name="nome_cliente" placeholder="Nome Completo" required>
                    <input type="text" name="cpf_cliente" placeholder="CPF" required>
                </div>
                <div class="input-group">
                    <input type="number" name="endereco_cliente" placeholder="CEP" required>
                    <select id="estados" name="estados" required>
                        <option value="">Selecione seu Estado</option>
                        <option value="SP">São Paulo</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="ES">Espírito Santo</option>
                    </select>
                </div>
                <div class="input-group">
                    <input type="email" name="email_cliente" placeholder="E-mail" required>
                    <input type="tel" name="contato_cliente" placeholder="Contato" required>
                </div>
                <div class="input-group">
                    <div class="password-container">
                        <input type="password" id="senha_cliente" name="senha_cliente" placeholder="Senha" required>
                    </div>
                    <div class="password-container">
                        <input type="password" id="confirmar_senha_cliente" name="confirmar_senha_cliente" placeholder="Confirmar Senha" required>
                    </div>
                </div>
                <button type="submit">Criar Conta</button>
            </form>
        </div>
    </main>

    <footer>
        <div class="footer-content">
            <div>
                <h4>Sobre Nós</h4>
                <p>Sollarium é líder no fornecimento de soluções em energia solar. Oferecemos serviços de instalação,<br> manutenção, vistoria, limpeza e consultoria para um futuro mais sustentável.</p>
            </div>
            <div>
                <h4>Contato</h4>
                <p>Endereço: Rua Exemplo, 123, São Paulo, SP</p>
                <p>Telefone: (11) 1234-5678</p>
                <p>Email: contato@sollarium.com.br</p>
            </div>
            <div>
                <h4>Siga-nos</h4>
                <div class="icons">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
