<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroinicial.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro</title>
</head>
<body>
    <nav class="container">
        <nav class="hero">
            <a href="/" class="material-symbols-outlined">
                keyboard_backspace
            <a>
            <h2>Cadastre-se em nosso site</h2>
        </nav>
        <main>
           <nav class="profissional">
            <a href="/cadastroprof" class="action_btn">Quero ser Profissional!</a>
           </nav>
           <h3> OU </h3>
           <nav class="cliente">
            <a href="/cadastrocliente" class="action_btn">Quero ser Cliente!</a>
           </nav>
           <nav class="login">
            <a href="/entrar" class="entrar">Já tenho conta!</a>
           </nav>
           </main>
           </nav>
           </body>
                    </html>