<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastrocliente.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro Cliente</title>
    <style>
        .error-message {
            color: red;
            display: none; /* Inicialmente oculta */
        }
        .valid {
            color: green;
        }
        .invalid {
            color: red;
        }
        .valid-criteria {
            color: green;
        }
        .invalid-criteria {
            color: red;
        }
    </style>
</head>
<body>
    <nav class="container">
        <nav class="hero">
            <a href="/cadastroinicial" class="material-symbols-outlined">
                keyboard_backspace
            </a>
            <h2>Venha fazer negócios conosco!</h2>
            <img src="/imagens/pexels-tomfisk-9893729.jpg" alt="">
            <nav class="toggle_btn">
                <i class="fa-solid fa-bars-staggered"></i>
            </nav>
        </nav>

        <main>
            <form action="/cadastrocliente" method="POST" id="cadastroFormcliente">
                <nav class="logo"></nav>
                <nav class="input-group">
                    <input type="text" name="nome_cliente" id="nome_cliente" placeholder="Nome Completo" required>
                    <input type="text" name="cpf_cliente" id="cpf_cliente" placeholder="CPF" required>
                    <div id="cpf-error" class="error-message">CPF inválido. Verifique e tente novamente.</div>
                </nav>
                <nav class="input-group">
                    <input type="text" name="cep_cliente" placeholder="CEP" maxlength="9" oninput="mascaraCep(this)" required>
                </nav>
                <nav class="input-group">
                    <input type="email" name="email_cliente" id="email_cliente" placeholder="E-mail" required>
                    <input type="tel" id="contato_cliente" name="contato_cliente" placeholder="Contato (XX) XXXXX-XXXX" required oninput="mascaraTelefone(this)">
                    <div id="telefone-error" class="error-message">Telefone inválido. Deve começar com 8 ou 9, ter 7 ou 8 dígitos e não pode ter todos os números iguais.</div>
                </nav>
                <nav class="input-group">
                    <nav class="password-container">
                        <input type="password" id="senha_cliente" name="senha_cliente" placeholder="Senha" onfocus="showMessage()" onblur="hideMessage()" oninput="validatePassword()" oncopy="return false;" onpaste="return false;">
                        <nav id="message" class="invalid">A senha deve ter pelo menos 8 caracteres, uma letra maiúscula e um caractere especial.</nav>
                    </nav>
                    <nav class="password-container">
                        <input type="password" id="confimasenha_cliente" name="confirmasenha_cliente" placeholder="Confirme sua senha" required oncopy="return false;" onpaste="return false;">
                        <nav id="error-message" class="error-message">As senhas não coincidem.</nav>
                    </nav>
                </nav>
                <div id="email-error" class="error-message">Este e-mail já está em uso.</div>
                <button type="submit">Criar Conta</button>
            </form>
        </main>
    </nav>


    <script>
        document.getElementById('email_cliente').addEventListener('input', function() {
            const email = this.value;
            const emailError = document.getElementById('email-error');

            if (email) {
                fetch(`/check-email?email=${encodeURIComponent(email)}`)
                    .then(response => response.json())
                    .then(data => {
                        if (data.exists) {
                            emailError.style.display = 'block';
                        } else {
                            emailError.style.display = 'none';
                        }
                    });
            } else {
                emailError.style.display = 'none';
            }
        });

        document.getElementById('cadastroFormcliente').addEventListener('submit', function(event) {
            const termosCheckbox = document.getElementById('termos');
            const errorMessage = document.getElementById('error-message');
            const cpfError = document.getElementById('cpf-error');
            const telefoneError = document.getElementById('telefone-error');
            const senha = document.getElementById('senha_cliente').value;
            const confSenha = document.getElementById('confimasenha_cliente').value;
            const emailError = document.getElementById('email-error');
            const cpfInput = document.getElementById('cpf_cliente').value;
            const telefoneInput = document.getElementById('contato_cliente').value.replace(/\D/g, '');

            errorMessage.style.display = 'none';
            emailError.style.display = 'none';
            cpfError.style.display = 'none';
            telefoneError.style.display = 'none';

            if (!termosCheckbox.checked) {
                alert('Você deve concordar com os termos para prosseguir.');
                event.preventDefault();
            } else if (!validarCPF(cpfInput)) {
                cpfError.style.display = 'block';
                event.preventDefault();
            } else if (!validarTelefone(telefoneInput)) {
                telefoneError.style.display = 'block';
                event.preventDefault();
            } else if (senha !== confSenha) {
                errorMessage.style.display = 'block';
                event.preventDefault();
            } 
        });

        function validarCPF(cpf) {
            cpf = cpf.replace(/\D/g, '');

            if (cpf.length !== 11 || /^(.)\1{10}$/.test(cpf)) {
                return false;
            }

            let soma = 0;
            let resto;

            for (let i = 1; i <= 9; i++) {
                soma += parseInt(cpf[i - 1]) * (11 - i);
            }
            resto = (soma * 10) % 11;
            if (resto === 10 || resto === 11) {
                resto = 0;
            }
            if (resto !== parseInt(cpf[9])) {
                return false;
            }

            soma = 0;
            for (let i = 1; i <= 10; i++) {
                soma += parseInt(cpf[i - 1]) * (12 - i);
            }
            resto = (soma * 10) % 11;
            if (resto === 10 || resto === 11) {
                resto = 0;
            }
            return resto === parseInt(cpf[10]);
        }

        function validarTelefone(telefone) {
            const regex = /^(9|8)\d{7,8}$/; // Começa com 8 ou 9, seguido por 7 ou 8 dígitos
            const numerosRepetidos = /^(.)\1{6,}$/; // Verifica se todos os números são repetidos
            return regex.test(telefone) && !numerosRepetidos.test(telefone);
        }

        function mascaraTelefone(input) {
            let value = input.value.replace(/\D/g, ''); // Remove caracteres não numéricos

            if (value.length <= 2) {
                input.value = value; // Mantém os dois primeiros dígitos
            } else if (value.length <= 9) {
                input.value = `(${value.slice(0, 2)}) ${value.slice(2)}`; // Formatação (XX) XXXXXXX
            } else {
                input.value = `(${value.slice(0, 2)}) ${value.slice(2, 7)}-${value.slice(7, 11)}`; // Formatação (XX) XXXXX-XXXX
            }
        }

        function showMessage() {
            document.getElementById('message').style.display = 'block';
        }

        function hideMessage() {
            document.getElementById('message').style.display = 'none';
        }

        function validatePassword() {
            const senha_cliente = document.getElementById('senha_cliente').value;
            const message = document.getElementById('message');
            const criteria = validatePasswordCriteria(senha_cliente);

            let feedback = 'A senha deve ter: ';
            let criteriaElements = [];

            if (!criteria.length) {
                criteriaElements.push('<span class="invalid-criteria">pelo menos 8 caracteres</span>');
            } else {
                criteriaElements.push('<span class="valid-criteria">pelo menos 8 caracteres</span>');
            }

            if (!criteria.upperCase) {
                criteriaElements.push('<span class="invalid-criteria">uma letra maiúscula</span>');
            } else {
                criteriaElements.push('<span class="valid-criteria">uma letra maiúscula</span>');
            }

            if (!criteria.specialChar) {
                criteriaElements.push('<span class="invalid-criteria">um caractere especial</span>');
            } else {
                criteriaElements.push('<span class="valid-criteria">um caractere especial</span>');
            }

            message.innerHTML = feedback + criteriaElements.join(', ');

            // Limpa a classe de mensagem
            message.className = criteria.length && criteria.upperCase && criteria.specialChar ? 'valid' : 'invalid';
        }

        function validatePasswordCriteria(senha_cliente) {
            const lengthCriteria = senha_cliente.length >= 8;
            const upperCaseCriteria = /[A-Z]/.test(senha_cliente);
            const specialCharCriteria = /[!@#$%^&*(),.?":{}|<>]/.test(senha_cliente);

            return {
                length: lengthCriteria,
                upperCase: upperCaseCriteria,
                specialChar: specialCharCriteria,
            };
        }

        function mascaraCep(input) {
            let cep = input.value.replace(/\D/g, "");
            if (cep.length > 5) {
                cep = cep.replace(/(\d{5})(\d)/, "$1-$2");
            }
            input.value = cep;
        }

        document.getElementById('cpf_cliente').addEventListener('input', function() {
            if (this.value.replace(/\D/g, '').length > 11) {
                this.value = this.value.slice(0, 14);
            }
            this.value = applyCPFMask(this.value);
        });

        function applyCPFMask(value) {
            return value
                .replace(/\D/g, '')
                .replace(/(\d{3})(\d)/, '$1.$2')
                .replace(/(\d{3})(\d)/, '$1.$2')
                .replace(/(\d{3})(\d{1,2})$/, '$1-$2');
        }

        // Verificação das senhas durante o input
        document.getElementById('confimasenha_cliente').addEventListener('input', function() {
            const senha = document.getElementById('senha_cliente').value;
            const confSenha = this.value;
            const errorMessage = document.getElementById('error-message');

            // Mostra a mensagem se as senhas não coincidirem
            if (confSenha && confSenha !== senha) {
                errorMessage.style.display = 'block'; // Exibe a mensagem de erro
            } else {
                errorMessage.style.display = 'none'; // Oculta a mensagem de erro
            }
        });

        // Popup functionality
        document.getElementById('openPopup').onclick = function() {
            document.getElementById('popup').style.display = 'block';
        };

        document.getElementById('closePopup').onclick = function() {
            document.getElementById('popup').style.display = 'none';
        };

        document.getElementById('acceptTerms').onclick = function() {
            document.getElementById('termos').disabled = false;
            document.getElementById('popup').style.display = 'none';
        };
    </script>
</body>
</html>
