
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Cliente</title>
    <link rel="stylesheet" href="/css/cadastroclientemobile.css">
  </head>
<body>
    <nav class="login-container">
        <nav class="logo">
            <img src="imagens/LOGO_SOLLARIUM (8).png" alt="Logo">
        </nav>
        <h3>Sou cliente</h3>
          <form>  
        <label for="username">Nome</label>
        <input type="text" placeholder="Nome" id="username">
       
        <label for="email">E-mail</label>
        <input type="email" placeholder="Meuemail@gmail.com" id="email">

        <label for="telefone">Telefone</label>
        <input type="tel" placeholder="(00)00000-0000" id="telefone">

        <label for="password">Senha</label>
        <input type="password" placeholder="Senha" id="password">
        <button>Cadastre-se</button>
           
        </form>
    </nav>
</body>
</html>