<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroprof.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Cadastro Profissional</title>
    <style>
        .error-message {
            color: red;
            display: none;
            font-size: 12px;
            font-family: sans-serif;
        }
        .valid, .valid-message {
            color: green;
            font-size: 12px;
            font-family: sans-serif;
        }
        .invalid, .invalid-message, .invalid-criteria {
            color: red;
            font-size: 12px;
            font-family: sans-serif;
        }
        .valid-criteria {
            color: green;
            font-size: 12px;
            font-family: sans-serif;
        }
        .popup {
            display: none; /* Começa oculto */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 1000;
        }
        .popup-content {
            background-color: white;
            margin: 15% auto;
            padding: 20px;
            border-radius: 5px;
            width: 80%;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <nav class="container">
        <nav class="hero">
            <a href="/cadastroinicial" class="material-symbols-outlined">keyboard_backspace</a>
            <nav class="toggle_btn">
                <i class="fa-solid fa-bars-staggered"></i>
            </nav>
            <h3>Saiba como nossas taxações e contrato funcionam!</h3>
            <nav class="termos1">
                <button type="button" id="openPopup">Quero saber!</button>
                <nav class="checkbox-label">
                    <input type="checkbox" id="termos" name="termos" required disabled>
                    <label for="termos">Li e aceito os termos de taxação e assinatura!</label>
                </nav>                
            </nav>
            <img src="/imagens/pexels-tomfisk-9893729.jpg" alt="">
        </nav>

        <main>
            <form action="/cadastroprof" method="POST" id="cadastroFormprof">
                <nav class="logo"></nav>
                <nav class="input-group">
                    <input type="text" name="nome_prof" id="nome_prof" placeholder="Nome Completo" required>
                    <input type="text" name="cpf_prof" id="cpf_prof" placeholder="CPF" required maxlength="14">
                    <span id="cpf-validity-message" class="error-message"></span>
                </nav>
                <nav class="input-group">
                    <input type="text" name="cep_prof" placeholder="CEP" maxlength="9" oninput="mascaraCep(this)" required>
                </nav>
                <nav class="input-group">
                    <input type="email" name="email_prof" id="email_prof" placeholder="E-mail" required>
                    <input type="tel" id="contato_prof" name="contato_prof" placeholder="Contato (XX) XXXXX-XXXX" required oninput="mascaraTelefone(this)">
                    <div id="telefone-error" class="error-message">Telefone inválido. Deve começar com 8 ou 9, ter 11 dígitos e não pode ter todos os números iguais.</div>
                </nav>
                <nav class="input-group">
                    <nav class="password-container">
                        <input type="password" id="senha_prof" name="senha_prof" placeholder="Senha" onfocus="showMessage()" onblur="hideMessage()" oninput="validatePassword()" oncopy="return false;" onpaste="return false;">
                        <nav id="message" class="invalid">A senha deve ter pelo menos 8 caracteres, uma letra maiúscula e um caractere especial.</nav>
                    </nav>
                    <nav class="password-container">
                        <input type="password" id="confimasenha_prof" name="confirmasenha_prof" placeholder="Confirme sua senha" required oncopy="return false;" onpaste="return false;">
                        <nav id="error-message" class="error-message">As senhas não coincidem.</nav>
                    </nav>
                </nav>
                <nav class="input-group">
                    <select name="area_prof" id="area_prof" required>
                        <option value="" disabled selected>Selecione a área de atuação</option>
                        <option value="instalacao">Instalação</option>
                        <option value="vistoria">Vistoria</option>
                        <option value="manutencao">Manutenção</option>
                        <option value="limpeza">Limpeza</option>
                        <option value="consultoria">Consultoria</option>
                    </select>
                    <input type="text" id="experiencia_prof" name="experiencia_prof" placeholder="Anos de experiência" required value="0" min="0">
                </nav>
                <div id="email-error" class="error-message">Este e-mail já está em uso.</div>
                <button type="submit">Criar Conta</button>
            </form>
        </main>
    </nav>

    <!-- Popup Modal -->
    <nav id="popup" class="popup">
        <nav class="popup-content">
            <span class="popup-close" id="closePopup">&times;</span>
            <h2>Termos de Taxação e Assinatura</h2>
            <p>Por favor, leia atentamente os termos e condições antes de aceitar.</p>
            <p>Procedimento de Cadastro e Política de Comissionamento de Profissionais</p>
            <p>1. Introdução</p>
            <p>A nossa empresa se dedica a proporcionar um ambiente estruturado e eficiente para a colaboração de profissionais especializados em diversas áreas. Com o objetivo de garantir uma gestão transparente e justa das contribuições e recompensas de nossos parceiros, estabelecemos um processo detalhado para o cadastro de profissionais, bem como uma política de comissionamento baseada na remuneração obtida através de serviços realizados por meio de nossa plataforma.</p>
            <p>2. Cadastro de Profissionais</p>
            <p>O processo de cadastro de um profissional na nossa empresa é estruturado para assegurar a integridade e a qualidade dos serviços oferecidos. Os principais passos do processo são os seguintes:</p>
            <p>Solicitação de Cadastro: O interessado deve preencher um formulário de solicitação de cadastro disponível em nossa plataforma online. Este formulário inclui informações pessoais, detalhes profissionais, qualificações e experiência relevante.</p>
            <p>Documentação e Verificação: Após o envio do formulário, o candidato deve fornecer documentos comprobatórios, como certificados de qualificação, registro profissional e identificações pessoais. A equipe responsável realiza uma análise minuciosa da documentação para verificar a conformidade com os requisitos da empresa.</p>
            <p>Entrevista e Avaliação: Em alguns casos, poderá ser solicitada uma entrevista ou uma avaliação prática para garantir que o profissional atende aos padrões de qualidade e competência estabelecidos pela empresa.</p>
            <p>Aprovação e Contrato: Após a conclusão das etapas anteriores, e uma vez aprovado, o profissional receberá um contrato formalizando sua parceria com a empresa. Este contrato detalha as responsabilidades, direitos e obrigações de ambas as partes.</p>
            <p>Integração e Treinamento: O profissional passará por um processo de integração, que pode incluir treinamentos específicos sobre a utilização da plataforma e os procedimentos operacionais da empresa.</p>
            <p>3. Política de Comissionamento</p>
            <p>A política de comissionamento estabelecida visa alinhar os interesses da empresa e dos profissionais cadastrados, promovendo uma relação de parceria justa e transparente. As diretrizes são as seguintes:</p>
            <p>Comissão sobre Lucros: A empresa retém uma comissão equivalente a 15% do lucro líquido obtido pelo profissional em serviços fechados e realizados através da nossa plataforma. O lucro líquido é calculado com base no valor total cobrado ao cliente, descontadas quaisquer despesas ou custos associados ao serviço.</p>
            <p>Apuração de Lucros: Mensalmente, a empresa realiza uma apuração detalhada dos serviços prestados e dos valores recebidos por cada profissional. O cálculo da comissão é efetuado sobre o total dos lucros registrados no período, conforme demonstrado nas faturas e relatórios financeiros.</p>
            <p>Pagamentos e Relatórios: Os profissionais recebem um relatório detalhado sobre os serviços prestados e a respectiva comissão retida. O pagamento da comissão líquida, ou seja, o valor restante após a dedução da comissão da empresa, é efetuado ao profissional conforme o calendário de pagamentos estabelecido no contrato.</p>
            <p>Transparência e Ajustes: A empresa mantém total transparência nos processos de cálculo e apuração dos lucros. Quaisquer discrepâncias ou dúvidas podem ser discutidas diretamente com a equipe financeira.</p>
            <p>4. Considerações Finais</p>
            <p>Ao aceitar estes termos, o profissional reconhece que compreendeu e concorda com os procedimentos de cadastro e a política de comissionamento estabelecida pela empresa. Quaisquer modificações ou atualizações a estes termos serão comunicadas aos profissionais cadastrados.</p>
            <p>Data de Vigência: Estes termos entram em vigor a partir da data de aceitação pelo profissional.</p>
            <button id="acceptTerms">Aceitar Termos</button>
        </nav>
    </nav>

    <script>
        document.getElementById('openPopup').onclick = function() {
            document.getElementById('popup').style.display = 'block';
        }
        document.getElementById('closePopup').onclick = function() {
            document.getElementById('popup').style.display = 'none';
        }
        document.getElementById('acceptTerms').onclick = function() {
            document.getElementById('termos').disabled = false;
            document.getElementById('popup').style.display = 'none';
        }

        function mascaraTelefone(input) {
            input.value = input.value.replace(/\D/g, '')
                                     .replace(/^(\d{2})(\d)/g, '($1) $2')
                                     .replace(/(\d)(\d{4})$/, '$1-$2');
        }

        function mascaraCep(input) {
            input.value = input.value.replace(/\D/g, '')
                                     .replace(/^(\d{5})(\d)/, '$1-$2');
        }

        function showMessage() {
            document.getElementById('message').style.display = 'block';
        }

        function hideMessage() {
            document.getElementById('message').style.display = 'none';
        }

        function validatePassword() {
            const password = document.getElementById('senha_prof').value;
            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{8,}$/;
            const message = document.getElementById('message');

            if (regex.test(password)) {
                message.classList.remove('invalid');
                message.classList.add('valid');
                message.innerHTML = 'Senha forte!';
            } else {
                message.classList.remove('valid');
                message.classList.add('invalid');
                message.innerHTML = 'A senha deve ter pelo menos 8 caracteres, uma letra maiúscula e um caractere especial.';
            }
        }

        document.getElementById('confimasenha_prof').addEventListener('input', function() {
            const password = document.getElementById('senha_prof').value;
            const confirmPassword = this.value;
            const errorMessage = document.getElementById('error-message');

            if (confirmPassword !== password) {
                errorMessage.style.display = 'block';
            } else {
                errorMessage.style.display = 'none';
            }
        });

        document.getElementById('cpf_prof').addEventListener('input', function() {
            const cpf = this.value.replace(/\D/g, '');
            const validityMessage = document.getElementById('cpf-validity-message');

            if (cpf.length === 11 && !/^(.)\1{10}$/.test(cpf)) {
                validityMessage.style.display = 'none';
            } else {
                validityMessage.style.display = 'block';
                validityMessage.textContent = 'CPF inválido.';
            }
        });
       // Validação em tempo real para telefone
       document.getElementById('contato_prof').addEventListener('input', function() {
            let telefoneInput = this.value.replace(/\D/g, '');
            const telefoneError = document.getElementById('telefone-error');

            // Limitar a 11 caracteres
            if (telefoneInput.length > 11) {
                telefoneInput = telefoneInput.substring(0, 11);
                this.value = telefoneInput; // Atualiza o valor do input
            }

            if (telefoneInput.length >= 10) {
                if (validarTelefone(telefoneInput)) {
                    telefoneError.style.display = 'none';
                } else {
                    telefoneError.style.display = 'block';
                }
            } else {
                telefoneError.style.display = 'none';
            }

            this.value = telefoneInput.replace(/(\d{2})(\d{5})(\d)/, '($1) $2-$3');
        }); // Validação de telefone
        function validarTelefone(telefone) {
            // Checa se o telefone tem 10 ou 11 dígitos
            if (telefone.length !== 10 && telefone.length !== 11) {
                return false;
            }

            // Verifica se todos os dígitos são iguais
            if (/^(\d)\1+$/.test(telefone)) {
                return false;
            }

            // Verifica se o terceiro dígito é 8 ou 9 (considerando DDD)
            if (telefone.length === 11 && telefone[2] !== '8' && telefone[2] !== '9') {
                return false;
            }

            return true; // Se passar em todas as validações
        }
function validatePassword() {
            const password = document.getElementById('senha_prof').value;
            const message = document.getElementById('message');
            const regex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*])(?=.{8,})/;

            if (regex.test(password)) {
                message.className = 'valid';
                message.textContent = 'Senha válida!';
            } else {
                message.className = 'invalid';
                message.textContent = 'A senha deve ter pelo menos 8 caracteres, uma letra maiúscula e um caractere especial.';
            }
        }
        document.getElementById('email_prof').addEventListener('input', function() {
            const email = this.value;
            const emailError = document.getElementById('email-error');

            // Simulação de verificação de e-mail
            const emailsEmUso = ['teste@example.com', 'usuario@exemplo.com'];
            emailError.style.display = emailsEmUso.includes(email) ? 'block' : 'none';
        });
    </script>
</body>
</html>
