<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entrar</title>
    <link rel="stylesheet" href="/css/entrar.css">
</head>
<body>
    <nav class="container">
        <nav class="hero">
            <h2>Bem-Vindo de volta!</h2>
        </nav>
<main>
    <nav class="login-container">

        <h1>Login</h1>
        <form id="loginForm" action="/perfilcliente" method="post">
            <nav class="input-group">
            <label for="email">E-mail</label>
            <input type="email" id="email" name="email" placeholder="e-mail" required>
            <span class="error" id="emailError"></span>

            <label for="senha">Senha</label>
            <input type="password" id="senha" name="password" placeholder="senha" required>
            <span class="error" id="passwordError"></span>
        </nav>
            <button type="submit">Sou Cliente</button>
            <a href="/cadastro.ejs">Quero me cadastrar!</a>
        </form>
    </nav>

</main>
    </body>
</html>