<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="100%">
    <title>Sollarium</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" type="imagens/LOGO_SOLLARIUM (8).png" href="/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/homemobile.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/animacao.js"></script>
    <script src="js/menumobile.js"></script>
</head>
<body>

    <section class="">
       <header>
        <img src="imagens/LOGO_SOLLARIUM (8).png">
        <nav>
            <ul>
               <li><a href="souprofissional.ejs" target="_blank" >Sou Profissional</a></li>
               <li><a href="soucliente.ejs" target="_blank">Sou Cliente</a></li>
                <li><a href="orcamento.ejs" target="_blank">Orçamento</a></li>
                <li>Quero ser um profissional</li>
            </ul>
        </nav>
       </header>
       <main>
        <nav class="btn-wrap">
            <img src="imagens/sollarium_homepage178.png">
            <button>Quero um serviço</button>
        </nav>
       
         
         <nav id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <nav class="carousel-inner">
                <figure class="carousel-item active">
                    <img src="imagens/Instalação.png" class="d-block w-100" alt="Slide 1">
                    <figcaption class="carousel-caption d-none d-md-block">
                        <h5>INSTALAÇÃO</h5>
                        <p></p>
                    </figcaption>
                </figure>
                <figure class="carousel-item">
                    <img src="imagens/Manutenção.png" class="d-block w-100" alt="Slide 2">
                    <figcaption class="carousel-caption d-none d-md-block">
                        <h5>MANUTENÇÃO</h5>
                        <p></p>
                    </figcaption>
                </figure>
                <figure class="carousel-item">
                    <img src="imagens/Vistoria.png" class="d-block w-100" alt="Slide 3">
                    <figcaption class="carousel-caption d-none d-md-block">
                        <h5>VISTORIA</h5>
                        <p></p>
                    </figcaption>
                </figure>
                <figure class="carousel-item">
                    <img src="imagens/consultoria.png" class="d-block w-100" alt="Slide 4">
                    <figcaption class="carousel-caption d-none d-md-block">
                        <h5>CONSULTORIA</h5>
                        <p></p>
                    </figcaption>
                </figure>
                <figure class="carousel-item">
                    <img src="imagens/desenvolvimento.png" class="d-block w-100" alt="Slide 5">
                    <figcaption class="carousel-caption d-none d-md-block">
                        <h5>DESENVOLVIMENTO</h5>
                        <p></p>
                    </figcaption>
                </figure>
                <figure class="carousel-item">
                    <img src="imagens/limpeza.png" class="d-block w-100" alt="Slide 6">
                    <figcaption class="carousel-caption d-none d-md-block">
                        <h5>LIMPEZA</h5>
                        <p></p>
                    </figcaption>
                </figure>
            </nav>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </nav>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        


        <nav class="image-container">
        <img src="imagens/solar_ (1).png" alt="imagem sobre energia solar" class="move-up" class="elongated-image">
        <img src="imagens/painelsolar_.png" alt="imagem painel solar" class="move-up" class="horizontal-rectangle" class="elongated-image">
         <img src="imagens/a melhor opção.png" alt="melhor opção site de energia solar" class="move-up" class="elongated-image">
         <img src="imagens/solarium_visao.png" alt="visão sobre a energia solar" class="move-up" class="elongated-image">
        </nav>
       </main>

       <footer>

       </footer>

    </section>
    
</body>
</html>