<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="100%">
    <title>Sollarium</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app/public/css/homemobile.css">
    <link rel="stylesheet" href="/app/public/css/homedesktop.css">
    <script src="/app/public/js/carrocel.js"></script>
</head>
<body>

    <section class="">
       <header>
        <img src="/app/public/imagens/LOGO_SOLLARIUM (8).png" alt="logo">
        <nav>
            <ul>
                <li>Sou Profissional</li>
                <li>Sou Cliente</li>
                <li>Orçamento</li>
                <li>Cadastro</li>
                <li>Cadastre-se</li>
            </ul>
        </nav>
       </header>
       <main>
         <img src="/app/public/imagens/_mobile_7 (2).png" alt="">
         <nav>
            <figure class="carousel">
                <input type="radio" name="carousel" id="slide1" checked>
                <input type="radio" name="carousel" id="slide2">
                <input type="radio" name="carousel" id="slide3">
                <input type="radio" name="carousel" id="slide4">
                <input type="radio" name="carousel" id="slide5">
                <input type="radio" name="carousel" id="slide6">
            
                <figcaption for="slide1">
                    <img src="/app/public/imagens/Instalação.png" alt="">
                </figcaption>
            
                <figcaption for="slide2">
                    <img src="/app/public/imagens/Manutenção.png" alt="">
                </figcaption>
            
                <figcaption for="slide3">
                    <img src="/app/public/imagens/Vistoria.png" alt="">
                </figcaption>
            
                <figcaption for="slide4">
                    <img src="/app/public/imagens/consultoria.png" alt="">
                </figcaption>
            
                <figcaption for="slide5">
                    <img src="/app/public/imagens/desenvolvimento.png" alt="">
                </figcaption>
            
                <figcaption for="slide6">
                    <img src="/app/public/imagens/limpeza.png" alt="">
                </figcaption>
            </figure>
            
         </nav>
         <nav class="imagem com botão">
         <img src="/app/public/imagens/solar_ (1).png" alt="">
        <img src="/app/public/imagens/painelsolar_.png" alt="">
         <img src="/app/public/imagens/a melhor opção.png" alt="">
         <img src="/app/public/imagens/solarium_visao.png" alt="">
        </nav>
       </main>

       <footer>

       </footer>

    </section>
    
    ------------------------------------------------------------------------>
    <section class="">
        <header>
         <img src="/app/public/imagens/LOGO_SOLLARIUM (8).png" alt="logo">
         <nav>
             <ul>
                 <li>Sou Profissional</li>
                 <li>Sou Cliente</li>
                 <li>Orçamento</li>
                 <li>Cadastro</li>
                 <li>Cadastre-se</li>
             </ul>
         </nav>
        </header>
        <main>
          <img src="/app/public/imagens/_mobile_7 (2).png" alt="">
          <nav>
            <figure class="carousel">
                <input type="radio" name="carousel" id="slide1" checked>
                <input type="radio" name="carousel" id="slide2">
                <input type="radio" name="carousel" id="slide3">
                <input type="radio" name="carousel" id="slide4">
                <input type="radio" name="carousel" id="slide5">
                <input type="radio" name="carousel" id="slide6">
            
                <figcaption for="slide1">
                    <img src="/app/public/imagens/Instalação.png" alt="">
                </figcaption>
            
                <figcaption for="slide2">
                    <img src="/app/public/imagens/Manutenção.png" alt="">
                </figcaption>
            
                <figcaption for="slide3">
                    <img src="/app/public/imagens/Vistoria.png" alt="">
                </figcaption>
            
                <figcaption for="slide4">
                    <img src="/app/public/imagens/consultoria.png" alt="">
                </figcaption>
            
                <figcaption for="slide5">
                    <img src="/app/public/imagens/desenvolvimento.png" alt="">
                </figcaption>
            
                <figcaption for="slide6">
                    <img src="/app/public/imagens/limpeza.png" alt="">
                </figcaption>
            </figure>
            
          </nav>
          <img src="/app/public/imagens/solar_ (1).png" alt="">
         <img src="/app/public/imagens/painelsolar_.png" alt="">
          <img src="/app/public/imagens/a melhor opção.png" alt="">
          <img src="/app/public/imagens/solarium_visao.png" alt="">
        </main>
 
        <footer>
 
        </footer>
 
     </section>
    
    
</body>
</html>