<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <title>Sollarium</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <header>
        <div class="logo">Sollarium</div>
        <ul class="menu">
            <li>Início</li>
       <a href="/orcamento"><li>Orçamento</li></a>
            <a href="/entrar"><li> Entrar</li></a>
            <a href="/cadastroprof">Cadastre-se</a>
        </ul>
        </div>
    </header>
    <main>
    <div class="slider">
        <div class="list">
            <div class="item active">
                <img src="/imagens/benefits-of-solar-panles.jpg">
                <div class="content">
                    <p>serviço</p>
                    <h2>Instalação</h2>
                    <p class="pp">
                        Oferecemos instalação completa de sistemas de energia solar, 
                        desde o planejamento até a ativação, garantindo eficiência e segurança em cada etapa.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar2.jpg">
                <div class="content">
                    <p>serviço</p>
                    <h2>Vistoria</h2>
                    <p class="pp">
                        Realizamos vistorias detalhadas para avaliar a viabilidade e o estado dos sistemas solares,
                        identificando possíveis melhorias e garantindo seu funcionamento ideal.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar3.jpg">
                <div class="content">
                    <p>serviço</p>
                    <h2>Manutenção</h2>
                    <p class="pp">
                        Nosso serviço de manutenção preventiva e corretiva assegura que seu sistema solar opere
                        com máxima eficiência e longevidade, minimizando interrupções.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar4.jpg">
                <div class="content">
                    <p>serviço</p>
                    <h2>Consultoria</h2>
                    <p class="pp">
                        Fornecemos consultoria especializada para ajudá-lo a escolher e implementar a melhor
                        solução de energia solar, adaptada às suas necessidades específicas e orçamento.
                    </p>
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar5.jpg">
                <div class="content">
                    <p>serviço</p>
                    <h2>Limpeza</h2>
                    <p class="pp">
                        Oferecemos serviços de limpeza profissional para painéis solares, removendo sujeira e
                        detritos que podem reduzir a eficiência do sistema, garantindo desempenho ótimo.
                    </p>
                </div>
            </div>
        </div>

        <div class="thumbnail">
            <div class="item active">
                <img src="/imagens/benefits-of-solar-panles.jpg">
                <div class="content">
                    Instalação
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar2.jpg">
                <div class="content">
                    Vistoria
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar3.jpg">
                <div class="content">
                    Manutenção
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar4.jpg">
                <div class="content">
                    Consultoria
                </div>
            </div>
            <div class="item">
                <img src="/imagens/imagem_solar5.jpg">
                <div class="content">
                    Limpeza
                </div>
            </div>
        </div>
    </div>
        
        
    </main>

    <footer>
        <section class="footer">
            <div class="footer-content">
                <h2>Sollarium</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolorum 
                   accusantium nihil laudantium non.</p>

                <div class="icons">
                    <a href=""><i class='bx bxl-facebook-circle'></i></a>
                    <a href=""><i class='bx bxl-twitter'></i></a>
                    <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                    <a href=""><i class='bx bxl-youtube' ></i></a>
                </div>
            </div>
            
            <div class="footer-content">
                <h4>Projetos</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
                <li><a href=""></a>Limpeza</li>
            </div>

            <div class="footer-content">
                <h4>Company</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
            </div>

            <div class="footer-content">
                <h4>Movement</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
            </div>

            <div class="footer-content">
                <h4>Help</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
            </div>
        </section>
    </footer>

    
</body>
</html>