<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sollarium</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <header>
       <div class="navbar">
        <div class="logo"><a href="#">Sollarium</a></div>
        <ul class="links">
            <li><a href="/home">Início</a></li>
            <li><a href="/orcamrento">Orçamento</a></li>
            <li><a href="/cadastroprof">Cadastre-se</a></li>
        </ul>
        <a href="/entrar" class="action_btn">Entrar</a>
        <div class="toggle_btn">
            <i class="fa-solid fa-bars-staggered"></i>
        </div>
       </div>

       <div class="dropdown_menu">
            <li><a href="#">Início</a></li>
            <li><a href="#">Orçamento</a></li>
            <li><a href="#">Sou Profissional</a></li>
            <li><a href="#" class="action_btn">Entrar</a></li>
       </div>
    </header>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars-staggered'
        }
    </script>

    <main>
        <div class="slider">
            <div class="list">
                <div class="item active">
                    <img src="/imagens/benefits-of-solar-panles.jpg">
                    <div class="content">
                        <p>serviço</p>
                        <h2>Instalação</h2>
                        <p class="pp">
                            Oferecemos instalação completa de sistemas de energia solar, 
                            desde o planejamento até a ativação, garantindo eficiência e segurança em cada etapa.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="image/img2.jpg">
                    <div class="content">
                        <p>design</p>
                        <h2>Vistoria</h2>
                        <p class="pp">
                            Realizamos vistorias detalhadas para avaliar a viabilidade e o estado dos sistemas solares,
                            identificando possíveis melhorias e garantindo seu funcionamento ideal.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="image/img3.jpg">
                    <div class="content">
                        <p>design</p>
                        <h2>Manutenção</h2>
                        <p class="pp">
                            Nosso serviço de manutenção preventiva e corretiva assegura que seu sistema solar opere
                            com máxima eficiência e longevidade, minimizando interrupções.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="image/img4.jpg">
                    <div class="content">
                        <p>design</p>
                        <h2>Consultoria</h2>
                        <p class="pp">
                            Fornecemos consultoria especializada para ajudá-lo a escolher e implementar a melhor
                            solução de energia solar, adaptada às suas necessidades específicas e orçamento.
                        </p>
                    </div>
                </div>
                <div class="item">
                    <img src="image/img5.jpg">
                    <div class="content">
                        <p>design</p>
                        <h2>Limpeza</h2>
                        <p class="pp">
                            Oferecemos serviços de limpeza profissional para painéis solares, removendo sujeira e
                            detritos que podem reduzir a eficiência do sistema, garantindo desempenho ótimo.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="arrows">
                <button id="prev"><</button>
                <button id="next">></button>
            </div>
            
            <div class="thumbnail">
                <div class="item active">
                    <img src="image/img1.webp">
                    <div class="content">
                        Instalação
                    </div>
                </div>
                <div class="item">
                    <img src="image/img2.jpg">
                    <div class="content">
                        Vistoria
                    </div>
                </div>
                <div class="item">
                    <img src="image/img3.jpg">
                    <div class="content">
                        Manutenção
                    </div>
                </div>
                <div class="item">
                    <img src="image/img4.jpg">
                    <div class="content">
                        Consultoria
                    </div>
                </div>
                <div class="item">
                    <img src="image/img5.jpg">
                    <div class="content">
                        Limpeza
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <section class="footer">
            <div class="footer-content">
                <h2>Sollarium</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident dolorum 
                   accusantium nihil laudantium non.</p>

                <div class="icons">
                    <a href=""><i class='bx bxl-facebook-circle'></i></a>
                    <a href=""><i class='bx bxl-twitter'></i></a>
                    <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                    <a href=""><i class='bx bxl-youtube' ></i></a>
                </div>
            </div>
            
            <div class="footer-content">
                <h4>Projetos</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
                <li><a href=""></a>Limpeza</li>
            </div>

            <div class="footer-content">
                <h4>Company</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
            </div>

            <div class="footer-content">
                <h4>Movement</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
            </div>

            <div class="footer-content">
                <h4>Help</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
            </div>
        </section>
    </footer>

    <script src="app.js"></script>
</body>
</html>
