<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="100%">
    <title>Sollarium</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/app/public/css/homemobile.css">
    <link rel="stylesheet" href="/app/public/css/homedesktop.css">
</head>
<body>

    <section class="">
       <header>
        <img src="/app/public/imagens/LOGO_SOLLARIUM (8).png" alt="logo">
        <nav>
            <ul>
                <li>Sou Profissional</li>
                <li>Sou Cliente</li>
                <li>Orçamento</li>
                <li>Cadastro</li>
                <li>Cadastre-se</li>
            </ul>
        </nav>
       </header>
       <main>
         <img src="/app/public/imagens/_mobile_7 (2).png" alt="">
         <ul>
            <li>
                <input type="radio" id="name">
                <label for=""></label>
                <img src="/app/public/imagens/Instalação.png" alt="">
            </li>
            <li>
                <input type="radio" id="name">
                <label for=""></label>
                <img src="/app/public/imagens/Manutenção.png" alt="">
            </li>
            <li>
                <input type="radio" id="name">
                <label for=""></label>
                <img src="/app/public/imagens/Vistoria.png" alt="">
            </li>
            <li>
                <input type="radio" id="name">
                <label for=""></label>
                <img src="/app/public/imagens/consultoria.png" alt="">
            </li>
            <li>
                <input type="radio" id="name">
                <label for=""></label>
                <img src="/app/public/imagens/desenvolvimento.png" alt="">
            </li>
            <li>
                <input type="radio" id="name">
                <label for=""></label>
                <img src="/app/public/imagens/limpeza.png" alt="">
            </li>
         </ul>
         <img src="/app/public/imagens/solar_ (1).png" alt="">
        <img src="/app/public/imagens/painelsolar_.png" alt="">
         <img src="/app/public/imagens/a melhor opção.png" alt="">
         <img src="/app/public/imagens/solarium_visao.png" alt="">
       </main>

       <footer>

       </footer>

    </section>
    
    ------------------------------------------------------------------------>
    <section class="">
        <header>
         <img src="/app/public/imagens/LOGO_SOLLARIUM (8).png" alt="logo">
         <nav>
             <ul>
                 <li>Sou Profissional</li>
                 <li>Sou Cliente</li>
                 <li>Orçamento</li>
                 <li>Cadastro</li>
                 <li>Cadastre-se</li>
             </ul>
         </nav>
        </header>
        <main>
          <img src="/app/public/imagens/_mobile_7 (2).png" alt="">
          <ul>
             <li>
                 <input type="radio" id="name">
                 <label for=""></label>
                 <img src="/app/public/imagens/Instalação.png" alt="">
             </li>
             <li>
                 <input type="radio" id="name">
                 <label for=""></label>
                 <img src="/app/public/imagens/Manutenção.png" alt="">
             </li>
             <li>
                 <input type="radio" id="name">
                 <label for=""></label>
                 <img src="/app/public/imagens/Vistoria.png" alt="">
             </li>
             <li>
                 <input type="radio" id="name">
                 <label for=""></label>
                 <img src="/app/public/imagens/consultoria.png" alt="">
             </li>
             <li>
                 <input type="radio" id="name">
                 <label for=""></label>
                 <img src="/app/public/imagens/desenvolvimento.png" alt="">
             </li>
             <li>
                 <input type="radio" id="name">
                 <label for=""></label>
                 <img src="/app/public/imagens/limpeza.png" alt="">
             </li>
          </ul>
          <img src="/app/public/imagens/solar_ (1).png" alt="">
         <img src="/app/public/imagens/painelsolar_.png" alt="">
          <img src="/app/public/imagens/a melhor opção.png" alt="">
          <img src="/app/public/imagens/solarium_visao.png" alt="">
        </main>
 
        <footer>
 
        </footer>
 
     </section>
    
    
</body>
</html>