<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Sollarium</title>
    <script src="/js/home.js"></script>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>


    
       <span>Olá <%= autenticado.autenticado %>!</span><br>
       <span><a href="/perfilcliente"><img class="icone-perfil" src="<%= arquivo.imagem %>" </a></span>
       <p><a href="/sair">sair</a></p>
   
       <%}else{ %>
          
       <% } %>
    

    <header>
           <nav class="navbar">
        <nav class="logo"><a href="#">Sollarium</a></nav>
        <ul class="links">
            <li><a href="/">Início</a></li>
            <li><a href="/orcamento">Orçamento</a></li>
            <li><a href="/sobre">Sobre Nós</a></li>
            <li><a href="/cadastroinicial">Cadastre-se</a></li>
        </ul>
        <a href="/entrar" class="action_btn">Entrar</a>
        <nav class="toggle_btn">
            <i class="fa-solid fa-bars-staggered"></i>
        </nav>
       </nav>

       <nav class="dropdown_menu">
            <li><a href="/home">Início</a></li>
            <li><a href="/orcamento">Orçamento</a></li>
            <li><a href="/sobre">Sobre nós</a></li>
            <li><a href="/cadastroinicial">Cadastre-se</a></li>
            <li><a href="/entrar" class="action_btn">Entrar</a></li>
       </nav>
    </header>
    
   


    <main>
        <nav class="sliderhome">
            <nav class="listhome">
                <nav class="item active">
                    <img src="imagens/home1.jpg">
                    <nav class="content">
                        <p>serviço</p>
                        <h2>Instalação</h2>
                        <p class="pp">
                            Oferecemos instalação completa de sistemas de energia solar, 
                            desde o planejamento até a ativação, garantindo eficiência e segurança em cada etapa.
                        </p>
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/1.png">
                    <nav class="content">
                        <p>serviço</p>
                        <h2>Vistoria</h2>
                        <p class="pp">
                            Realizamos vistorias detalhadas para avaliar a viabilidade e o estado dos sistemas solares,
                            identificando possíveis melhorias e garantindo seu funcionamento ideal.
                        </p>
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/2.png">
                    <nav class="content">
                        <p>serviço</p>
                        <h2>Manutenção</h2>
                        <p class="pp">
                            Nosso serviço de manutenção preventiva e corretiva assegura que seu sistema solar opere
                            com máxima eficiência e longevidade, minimizando interrupções.
                        </p>
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/3.png">
                    <nav class="content">
                        <p>serviço</p>
                        <h2>Consultoria</h2>
                        <p class="pp">
                            Fornecemos consultoria especializada para ajudá-lo a escolher e implementar a melhor
                            solução de energia solar, adaptada às suas necessidades específicas e orçamento.
                        </p>
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/4.png">
                    <nav class="content">
                        <p>serviço</p>
                        <h2>Limpeza</h2>
                        <p class="pp">
                            Oferecemos serviços de limpeza profissional para painéis solares, removendo sujeira e
                            detritos que podem reduzir a eficiência do sistema, garantindo desempenho ótimo.
                        </p>
                    </nav>
                </nav>
            </nav>
            
            
            <nav class="thumbnailhome">
                <nav class="item active">
                    <img src="imagens/insalacao.png">
                    <nav class="content">
                        Instalação
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/vistoria.png">
                    <nav class="content">
                        Vistoria
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/manutencao.png">
                    <nav class="content">
                        Manutenção
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/consultoria.png">
                    <nav class="content">
                        Consultoria
                    </nav>
                </nav>
                <nav class="item">
                    <img src="imagens/limpeza.png">
                    <nav class="content">
                        Limpeza
                    </nav>
                </nav>
            </nav>
        </nav>
    </main>
    <footer>
        <section class="footer">
            <nav class="footer-content">
                <h2>Sollarium</h2>
                <p>Sua plataforma de serviços solares em suas mãos.</p>

                <nav class="icons">
                    <a href=""><i class='bx bxl-facebook-circle'></i></a>
                    <a href=""><i class='bx bxl-twitter'></i></a>
                    <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                    <a href=""><i class='bx bxl-youtube' ></i></a>
                </nav>
            </nav>
            
            <nav class="footer-content">
                <h4>Serviços</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
                <li><a href=""></a>Limpeza</li>
            </nav>

            <nav class="footer-content">
                <h4>Menu</h4>
                <li><a href=""></a>Orçamento</li>
                <li><a href=""></a>Sobre Nós</li>
                <li><a href=""></a>Início</li>
                <li><a href=""></a>Consultoria</li>
            </nav>

            <nav class="footer-content">
                <h4>Ajuda</h4>
                <li><a href=""></a>Instalação</li>
                <li><a href=""></a>Vistoria</li>
                <li><a href=""></a>Manutenção</li>
                <li><a href=""></a>Consultoria</li>
            </nav>
        </section>
    </footer>

    <script>
        const toggleBtn = document.querySelector('.toggle_btn')
        const toggleBtnIcon = document.querySelector('.toggle_btn i')
        const dropDownMenu = document.querySelector('.dropdown_menu')

        toggleBtn.onclick = function () {
            dropDownMenu.classList.toggle('open')
            const isOpen = dropDownMenu.classList.contains('open')

            toggleBtnIcon.classList = isOpen
            ? 'fa-solid fa-xmark'
            : 'fa-solid fa-bars-staggered'
        }
    </script>
    <script src="app.js"></script>
</body>
</html>
