<div class="jumbotron">
    <figure>
        <img src="../imagem/logo-azul.png" />
    </figure>
    <h1 class="display-4">Área Administrativa</h1>
    <p class="lead">Utilize o menu acima para gerenciar as informações desejadas.</p>
    <hr class="my-4">
    <p>Para voltar à area pública dos site utilize o botão abaixo.</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/" role="button">voltar</a>
    </p>
</div>

