<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sollarium orçamento</title>
    <link rel="stylesheet" href="/css/orcamento.css">
</head>
<body>
    <header>
        <!-- Se precisar de um cabeçalho -->
    </header>
    <nav>
        <!-- Se precisar de uma navegação -->
    </nav>
    <section class="inteiro">
        <!-- Metade da tela para telas grandes -->
        <section class="metade1">
            <img src="/imagens/normal_u0.png" alt="Imagem de exemplo">
        </section>
        <!-- Metade da tela para telas grandes -->
        <section class="metade2">
            <section class="Forms">
                <h1>Orçamento</h1>
                <form action="">
                    <input type="text" placeholder="Estado:" required><br>
                    <input type="text" placeholder="Cidade/CEP" required><br>
                    <input type="text" placeholder="Serviço:" required><br>
                    <textarea placeholder="Detalhe o serviço desejado:" required class="detalhe"></textarea><br>
                    <input type="text" placeholder="Valor esperado:" required><br>
                    <input type="submit" value="FINALIZAR ORÇAMENTO">
                </form>
            </section>
        </section>
    </section>
</body>
</html>
