<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sollarium orçamento</title>
    <link rel="stylesheet" href="/css/orcamento.css">
    
</head>
<body>
    <header>
        
    </header>
    <nav>
        
    </nav>
    <section class="inteiro">
        <section class="metade1">
            <h1 class="metade1">Orçamento</h1>
            <section class="Forms">
                
                <section class="A">

                <input type="text" placeholder="Nome" required><br>
                <input type="email" placeholder="Email:" required><br>
                <input type="text" placeholder="Estado:" required><br>
                <input type="text" placeholder="Cidade/CEP" required><br>
                <input type="text" placeholder="Serviço:" required><br>
                <textarea placeholder="Detalhe o serviço desejado:" required class="detalhe"></textarea><br>
                <input type="text" placeholder="Valor esperado:" required><br>
                </section>
                
            </section>
        </section>
            
        <section class="metade2">
            <section class="palavras">
                <h1>FAÇA SEU ORÇAMENTO</h1>
                <h2>OBTENHA SEU SERVIÇO NA PLATAFORMA SOLLARIUM</h2>
            </section>
            <section class="botonenter">
                <input type="button" value="FINALIZAR ORÇAMENTO">
            </section>
        </section>
    </section>
</body>
</html>
