<!DOCTYPE html>
<html lang="pt-br">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solicitações de Orçamento</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"></link>
    <link rel="stylesheet" href="/css/orcprof.css"></link>
  </head>

<body>
    <h1>Solicitações de Orçamento</h1>
    <table>
        <thead>
            <tr>
                <th>Nome do Cliente</th>
                <th>Data do Serviço</th>
                <th>Valor do Serviço</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>João Silva</td>
                <td>2024-11-20</td>
                <td>R$ 2.000,00</td>
                <td><button class="btn-accept">Aceitar</button></td>
            </tr>
            <tr>
                <td>Maria Oliveira</td>
                <td>2024-11-22</td>
                <td>R$ 1.500,00</td>
                <td><button class="btn-accept">Aceitar</button></td>
            </tr>
            <tr>
                <td>Pedro Costa</td>
                <td>2024-12-01</td>
                <td>R$ 3.500,00</td>
                <td><button class="btn-accept">Aceitar</button></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
