<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatório de Pagamentos</title>
    <link rel="stylesheet" href="/css/reuniversal.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <nav class="sidebar close">
        <header>
            <section class="image-text">
                <span class="image">
                    <img src="./img/Design sem nome (3).png" alt="logotipo">
                </span>
                 <section class="text header-text">
                     <span class="name">Sollarium</span>
                     <span class="profession">Relatorio profissional</span>
                 </section>
            </section>

            <i class='bx bx-chevron-right toggle'></i>
        </header>
        <section class="menu-bar">
            <section class="menu">
                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                        <input type="search"  placeholder="search...">
                </li>
                <ul class="menu-links">
                    <li class="nav-links">
                        <a href="/Projetos.html">
                            <i class='bx bx-message-alt icon' ></i>
                            <span class="text nav-text">Projetos</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="/Pagamentos.html">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Pagamentos</span>
                        </a>
                    </li>
                    <li class="nav-links">
                        <a href="/Comissao.html">
                            <i class='bx bx-money-withdraw icon' ></i>
                            <span class="text nav-text">Comissão</span>
                        </a>
                    </li>
                </ul>
            </section>
            <section class="bottom content"> 
                <li class="nav-links">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Voltar</span>
                    </a>
                </li>
                <li class="mode">
                  <section class="moon-sun">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun' ></i>
                  </section>
                  <span class="mode text text">
                    Dark Mode
                  </span>

                  <section class="toggle-switch">
                    <span class="switch"></span>
                  </section>
                </li>
            </section>
        </section>
    </nav>

    <section class="home">
        <section class="text">Relatório de Pagamentos</section>
         <section class="tabelas">
        <h2>Pagamentos recebidos</h2>
       <table id="pagamentostable">
            <thead>
                <tr>
                    <th>Nome do Cliente</th>
                    <th>Valor do Pagamento</th>
                    <th>Nota fiscal</th> 
                </tr>
            </thead>
            <tbody>
             
            <tr>
                <td>
                   
                </td>
                <td>
                  
                </td>
                <td>
                  
                </td>
                
            </tbody>
        </table>
    </section>
    </section>
   
    <script>
        const body= document.querySelector("body"),
            sidebar= body.querySelector(".sidebar"),
            toggle= body.querySelector(".toggle"),
            searchBtn= body.querySelector(".search-box"),
            modeSwtich= body.querySelector(".toggle-switch"),
            modeText= body.querySelector(".mode.text");

            toggle.addEventListener("click", () =>{
             sidebar.classList.toggle("close");
            });

            modeSwtich.addEventListener("click", () =>{
               body.classList.toggle("dark");

            if(body.classList.contains("dark")){
               modeText.innerText = "Light Mode"
            }else{
                modeText.innerText = "Dark Mode"
            }
            });

   </script>
</body>
</html>