<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Perfil Profissional</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
  <link rel="stylesheet" href="/css/perfilprof.css" />
</head>

<body>
  <nav class="header__wrapper">
    <header></header>

    <nav class="cols__container">
      <nav class="left__col">
        <nav class="img__container">
          <%
          arquivo = { imagem: "/imagens/perfil/imgperfil.png" };
         if (autenticado.imagem != null) {
             arquivo.imagem = imagem;
         } 
     %>
     <input type="file" id="inputArquivo" style="display: none;" accept="image/*" />
     <img id="imagem" src="<%= arquivo.imagem %>" alt="Clique para mudar a imagem" />

          <script>
            const inputArquivo = document.getElementById('inputArquivo');
            const imagem = document.getElementById('imagem');
        
            imagem.addEventListener('click', () => {
                inputArquivo.click();
            });
        
            inputArquivo.addEventListener('change', (event) => {
                const arquivo = event.target.files[0];
                if (arquivo) {
                    const url = URL.createObjectURL(arquivo);
                    imagem.src = url;
                }
            });
        </script>
          <span></span>
        </nav>
        <h2>Dwight Schrute</h2>
        <p>Assistente do Gerente Regional</p>
        <p>DwAss@example.com</p>

        <ul class="about">
          <li><span>4,073</span>Seguidores</li>
          <li><span>3 anos e 9m</span>Na Plataforma</li>
          <li><span>180</span>Finalizados</li>
        </ul>

        <nav class="content">
          <p>
            Melhor funcionario do mundo. Inimigo mortal de Jim Halpert.
            Melhor amigo e funcionario de Michael Scott.
            Dominante em artes marciais e disparo de armas, além de caçador nas horas vagas.
            O mais perto de Deus
          </p>

            <ul>
              <li><i class="fa-brands fa-x-twitter"></i></li>
              <i class="fa-brands fa-whatsapp"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-facebook"></i>
            </ul>
          </nav>
        </nav>
        <nav class="right__col">
          <nav>
            <ul>
              <li><a href="">Editar perfil</a></li>
              <li><a href="/orcamento">Orçamento</a></li>
            </ul>
            <nav class="bell"><i class="fa-solid fa-bell"></i></nav>
            <button>Voltar ao Início</button>
          </nav>

          <nav class="photos">
            <img src="/imagens/perfil/imgperfil.png" alt="Photo" />
            <img src="/imagens/perfil/imgperfil.png" alt="Photo" />
            <img src="/imagens/perfil/imgperfil.png" alt="Photo" />
            <img src="/imagens/perfil/imgperfil.png" alt="Photo" />
            <img src="/imagens/perfil/imgperfil.png" alt="Photo" />
            
          </nav>
        </nav>
      </nav>
    </nav>
    <footer>
      <section class="footer">
          <nav class="footer-content">
              <h2>Sollarium</h2>
              <p>Sua plataforma de serviços solares em suas mãos.</p>
              <nav class="icons">
                  <a href=""><i class='bx bxl-facebook-circle'></i></a>
                  <a href=""><i class='bx bxl-twitter'></i></a>
                  <a href=""><i class='bx bxl-instagram-alt'></i></a>
                  <a href=""><i class='bx bxl-youtube'></i></a>
              </nav>
          </nav>
          
          <nav class="footer-content">
              <h4>Serviços</h4>
              <li><a href="">Instalação</a></li>
              <li><a href="">Vistoria</a></li>
              <li><a href="">Manutenção</a></li>
              <li><a href="">Consultoria</a></li>
              <li><a href="">Limpeza</a></li>
          </nav>
  
          <nav class="footer-content">
              <h4>Menu</h4>
              <li><a href="">Orçamento</a></li>
              <li><a href="">Sobre Nós</a></li>
              <li><a href="">Início</a></li>
              <li><a href="">Consultoria</a></li>
          </nav>
  
          <nav class="footer-content">
              <h4>Ajuda</h4>
              <li><a href="">Contato email</a></li>
              <li><a href="">Contato telefone</a></li>
          </nav>
      </section>
  </footer>
  </body>
</html>
