<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recsenha.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Recuperação de Senha</title>
</head>
<body>

    <div class="container">
        <a href="/entrar" class="material-symbols-outlined">
            keyboard_backspace
        </a>
        <form id="card-form" action="/recovery" method="post">
            <p> Insira seu E-mail e enviaremos um link de recuperação de senha</p>
                <input type="email" name="email" required placeholder="Seu e-mail">
                <button type="submit">Enviar E-mail</button>
        </form>
    </div>

    <script>
        document.getElementById('card-form').addEventListener('submit', async function(event) {
            event.preventDefault(); // Evita o envio padrão do formulário

            const email = this.email.value;

            try {
                const response = await fetch('/recovery', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ email }),
                });

                const message = await response.text();

                if (!response.ok) {
                    // Se a resposta não for ok, mostra a mensagem de erro
                    alert(message);
                } else {
                    // Caso contrário, mostra uma mensagem de sucesso
                    alert('Email de recuperação enviado com sucesso!');
                }
            } catch (error) {
                // Erro ao enviar a requisição
                alert('Erro ao enviar o e-mail. Tente novamente mais tarde.');
            }
        });
    </script>
</body>
</html>
