<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recsenha.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Recuperação de Senha</title>
</head>
<body>

    <div class="container">
        <a href="/entrar" class="material-symbols-outlined">
            keyboard_backspace
        </a>
        <form id="card-form" action="/recovery" method="post">
            <p> Insira seu E-mail e enviaremos um link de recuperação de senha</p>
                <input type="email" name="email" required placeholder="Seu e-mail">
                <button type="submit">Enviar E-mail</button>
    </form>
</body>
</html>
