<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/resetarsenha.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Redefinir Senha</title>
</head>
<body>

    <div class="container">
        <a href="/" class="material-symbols-outlined">
            keyboard_backspace
        </a>
        <form id="card-form" action="/resetarsenha" method="post">
            <p> Insira sua nova senha:</p>
                <input type="password" name="password" required placeholder="Sua nova senha">
                <button type="submit">Criar nova senha</button>
    </form>
</body>
</html>
