<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" 
    integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="/css/sobrenos.css">
    <title>Sobre Nós - FAQ</title>
</head>

<header>
  <nav class="navbar">
      <nav class="logo"><a href="#">Sollarium</a></nav>
      <ul class="links">
          <li><a href="/">Início</a></li>
          <li><a href="/orcamento">Orçamento</a></li>
          <li><a href="/why">Energia Limpa</a></li>
      </header>
<body>
    <nav class="section">
      <nav class="hero">
        
        <nav class="container">
            <nav class="content-section">
                <nav class="title">
                    <h1>Sobre Nós</h1>
                </nav>
                <nav class="content">
                    <h3>Um simples resumo e o nosso FAQ</h3>
                    <p>A Sollarium é uma plataforma que conecta clientes a serviços de energia solar, oferecendo profissionais qualificados para atender às suas necessidades. Gerenciamos todo o processo, desde o orçamento até a realização do serviço, garantindo segurança e qualidade.</p>
                       <nav class="button">
                        <a href="/">Voltar ao Início</a>
                       </nav>
                </nav>
                <nav class="social">
                    <a href=""><i class="fa-brands fa-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <nav class="text">
                      <ul style="display: flex; align-items: center; gap: 20px;">
                        <li style="display: flex; align-items: center;">
                            <h2 style="margin: 0;font-size: 14px;">Desubra mais sobre nossa empresa!</h2>
                            <span class="material-symbols-outlined" style="color: orange; font-size: 50px;margin-top: 20px;margin-left: 20px;">
                              browse_activity
                          </span>
                          </li>
                          
    <li style="display: flex; align-items: center;">
      <h2 style="margin: 0;font-size: 14px;">Encontre as rspostas para suas dúvidas!</h2>
      <span class="material-symbols-outlined" style="color: orange; font-size: 50px;margin-top: 20px;margin-left: 20px;">quiz</span>
  </li>

  <li style="display: flex; align-items: center;">
    <h2 style="margin: 0;font-size: 14px;">Entenda nossa plataforma!</h2>
    <span class="material-symbols-outlined" style="color: orange; font-size: 50px;margin-top: 40px;margin-left:20px;">devices</span>
</li>
                          </ul>
                          </nav>
                </nav>
            </nav>
           
        </nav>
    </nav>

    <nav class="wrapper">

        <nav class="faq">
          <button class="accordion">
            O que é a Sollarium?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <nav class="pannel">
            <p>
                A Sollarium é uma plataforma que conecta clientes
                 a serviços de energia solar, oferecendo profissionais 
                 qualificados para atender às suas necessidades. Gerenciamos 
                 todo o processo, desde o orçamento até a realização do serviço, garantindo segurança e qualidade.
            </p>
          </nav>
        </nav>
  
        <nav class="faq">
          <button class="accordion">
            Como posso solicitar um serviço de energia solar?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <nav class="pannel">
            <p>
                Para solicitar um serviço, basta se cadastrar em nossa plataforma e preencher o formulário de orçamento com os detalhes do que precisa. A Sollarium redireciona o seu pedido para os profissionais da sua região.
            </p>
          </nav>
        </nav>
  
        <nav class="faq">
          <button class="accordion">
            Como funciona o processo após eu enviar um orçamento?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <nav class="pannel">
            <p>
                Após enviar o orçamento, os profissionais cadastrados na plataforma poderão aceitá-lo. Quando um profissional aceita, o status do pedido é atualizado, e você será informado sobre os detalhes do profissional. O pagamento do serviço é feito diretamente à plataforma.
            </p>
          </nav>
        </nav>
  
        <nav class="faq">
          <button class="accordion">
            Eu posso entrar em contato diretamente com o profissional?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <nav class="pannel">
            <p>
                Não. Para garantir a segurança e integridade do processo, todo o contato é gerenciado pela plataforma. Ao final do processo, você receberá as informações necessárias, e o pagamento é feito diretamente à Sollarium.
            </p>
          </nav>
        </nav>
  
        <nav class="faq">
          <button class="accordion">
            Quando o pagamento é realizado?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <nav class="pannel">
            <p>
                Após o profissional aceitar o orçamento e o serviço ser concluído, você realiza o pagamento diretamente à plataforma. A Sollarium pagará o profissional somente após a confirmação da finalização do serviço.
            </p>
          </nav>
        </nav>
  
        <nav class="faq">
          <button class="accordion">
            A Sollarium cobra alguma taxa dos profissionais?
            <i class="fa-solid fa-chevron-down"></i>
          </button>
          <nav class="pannel">
            <p>
                Sim, a plataforma retém uma comissão de 15% sobre o valor total do serviço realizado pelos profissionais.
            </p>
          </nav>
        </nav>



        <nav class="faq">
            <button class="accordion">
                O que acontece se nenhum profissional aceitar o meu orçamento?
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <nav class="pannel">
              <p>
                Caso nenhum profissional aceite o orçamento, você será notificado para que possa revisar sua solicitação ou tentar novamente mais tarde.
              </p>
            </nav>
          </nav>

          <nav class="faq">
            <button class="accordion">
              Os profissionais são qualificados?
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <nav class="pannel">
              <p>
                Sim, todos os profissionais passam por um processo rigoroso de verificação, garantindo que são devidamente qualificados para realizar serviços de energia solar.
              </p>
            </nav>
          </nav>

          <nav class="faq">
            <button class="accordion">
              Como posso acompanhar o status do meu pedido?
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <nav class="pannel">
              <p>
                Você pode acompanhar o status do seu pedido diretamente na área de cliente da plataforma. Lá, você verá quando um profissional aceitar o pedido e poderá realizar o pagamento assim que o serviço for concluído.
              </p>
            </nav>
          </nav>
          <nav class="faq">
            <button class="accordion">
                Como funciona o pagamento ao profissional?
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <nav class="pannel">
              <p>
                Após o cliente realizar o pagamento para a plataforma, o profissional só será pago pela Sollarium depois de finalizar o serviço e receber a confirmação do cliente.
              </p>
            </nav>
          </nav>

          <nav class="faq">
            <button class="accordion">
                Posso cancelar um orçamento enviado?
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <nav class="pannel">
              <p>
                  Sim, você pode cancelar um orçamento desde que nenhum profissional o tenha aceitado. Após aceito, será necessário seguir o processo de cancelamento junto à plataforma.
              </p>
            </nav>
          </nav>

          <nav class="faq">
            <button class="accordion">
              Como faço para me cadastrar como profissional?
              <i class="fa-solid fa-chevron-down"></i>
            </button>
            <nav class="pannel">
              <p>
                Para se cadastrar, basta clicar em "Cadastre-se" no topo da página e preencher suas informações, qualificações e localização. Após a verificação dos dados, você estará apto a receber orçamentos.
              </p>
            </nav>
          </nav>
      </nav>

      
  
      <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
  
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.parentElement.classList.toggle("active");
  
            var pannel = this.nextElementSibling;
  
            if (pannel.style.display === "block") {
              pannel.style.display = "none";
            } else {
              pannel.style.display = "block";
            }
          });
        }
      </script>
</body>
</html>