<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroprof.css">
    <title>Cadastro Profissional</title>
</head>
<body>
    <header>
        <nav class="navbar">
     <nav class="logo"><a href="#">Sollarium</a></nav>
     <ul class="links">
         <li><a href="/">Início</a></li>
         <li><a href="/orcamento">Orçamento</a></li>
         <li><a href="/sobre">Sobre Nós</a></li>
         <li><a href="/cadastroinicial">Cadastre-se</a></li>
     </ul>
     <a href="/entrar" class="action_btn">Entrar</a>
     <nav class="toggle_btn">
         <i class="fa-solid fa-bars-staggered"></i>
     </nav>
    </nav>

    <nav class="dropdown_menu">
         <li><a href="/home">Início</a></li>
         <li><a href="/orcamento">Orçamento</a></li>
         <li><a href="/sobre">Sobre nós</a></li>
         <li><a href="/cadastroinicial">Cadastre-se</a></li>
         <li><a href="/entrar" class="action_btn">Entrar</a></li>
    </nav>
 </header>

        function hideMessage() {
            document.getElementById('message').style.display = 'none';
        }

        function validatePassword() {
            const password = document.getElementById('password').value;
            const message = document.getElementById('message');
            const isValid = validatePasswordCriteria(password);
            message.className = isValid ? 'valid' : 'invalid';
            message.innerText = isValid ? 'Senha válida' : 'A senha deve ter pelo menos 8 caracteres, uma letra maiúscula e um caractere especial.';
        }

        function validatePasswordCriteria(password) {
            const lengthCriteria = password.length >= 8;
            const upperCaseCriteria = /[A-Z]/.test(password);
            const specialCharCriteria = /[!@#$%^&*(),.?":{}|<>]/.test(password);
            return lengthCriteria && upperCaseCriteria && specialCharCriteria;
        }
    </script>
</body>
</html>
