<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Cliente</title>
    <link rel="stylesheet" href="css/soucliente.css">
    <script src="/soucliente.js"></script>
</head>
<body>
    <nav class="login-container">
        <nav class="logo">
            <img src="imagens/LOGO_SOLLARIUM (8).png" alt="Logo">
        </nav>
        <h1>Login</h1>
        <form action="/perfilcliente" method="post">
            <label for="e-meil">E-mail</label>
            <input type="text" id="e-mail" placeholder="e-mail" required>
            <label for="senha">Senha</label>
            <input type="password" id="senha" placeholder="senha" required>
            <a href="/perfilcliente.ejs"><button type="submit">Sou Cliente</button></a>
        </form>
    </nav>
</body>
</html>

 
