<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou Cliente</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <section>
        <main>
            <nav class="conteiner">
            <section class="background">
                <nav class="shape"></nav>
                <nav class="shape"></nav>
            </nav>
            <form>
                <h3>Sou Profissional</h3>
        
                <label for="username">Usuário</label>
                <input type="email" placeholder="E-mail" id="username">
        
                <label for="password">Senha</label>
                <input type="password" placeholder="Senha" id="password">
                <nav id="formFooter">
                    <a class="underlineHover" href="#">Esqueceu sua senha?</a>
                  </nav>
                <button>Login</button>
                </form>
            </nav>
        </main>
    </section>
</body>
</html>

