<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sou profissional</title>
    <link rel="stylesheet" href="css/souprofmobile.css">
    <script src="/souprof.js"></script>
</head>
<body>
    <nav class="login-container">
        <nav class="logo">
            <img src="imagens/LOGO_SOLLARIUM (8).png" alt="Logo">
        </nav>
        <h1>Login</h1>
        <form>
            <label for="e-meil">E-mail</label>
            <input type="text" id="e-mail" placeholder="e-mail" required>
            <label for="senha">Senha</label>
            <input type="senha" id="senha" placeholder="senha" required>
            <button type="sou cliente">Sou Profissional</button>
        </form>
    </nav>
</body>
</html>
 