<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Definir projeto</title>
    <link rel="stylesheet" href="/css/feedback.css">
</head>
<body>

    <main>
        <box-icon name='left-arrow-alt icone'><a href="voltar"></a></box-icon>
        <form action="/updateorc" method="POST" class="formulario">
            <fieldset>
                <input type="hidden" name="id_orcamento" value="<%=campos.id_orcamento%>">
                <label for="data">Data do serviço:</label>
                <input type="datetime-local" id="data" name="data" required>
                <label for="text">Definição do valor do orçamento ex:400</label>
                <input type="text" name="valor" id="valor" required>
                <button type="submit">Enviar Definição</button>
            </fieldset>
        </form>
    </main>
</body>
</html>