<h2>Excluir cliente</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nome
        </dt>

        <dd>
            Teste
        </dd>

        <dt>
            CEP
        </dt>

        <dd>
            01234-555
        </dd>

        <dt>
            Imagem de Perfil
        </dt>

        <dd>
            <img id="img-preview" src="imagem/img_login.png" style="max-width:200px; max-height:200px;" />
        </dd>

        <dt>
            Nome de Usuário
        </dt>

        <dd>
            teste123
        </dd>

        <dt>
            E-mail
        </dt>

        <dd>
            teste@gmail.com
        </dd>

        <dt>
            Tipo Usuário
        </dt>

        <dd>
            Comum
        </dd>

        <dt>
            Status
        </dt>

        <dd>
            Ativo
        </dd>
        <form action="" method="post">

            <nav class="form-actions no-color">
                <h3>Confirma a exclusão?</h3>

                <input type="submit" value="Excluir" class="btn btn-danger btn-lg" /> |
                <a class="btn btn-primary " href="/adm-cliente" role="button">voltar</a>

            </nav>
        </form>
    </nav>