h2>Lista de clientes</h2>

<p>
    <a href="/adm-cliente-novo" class="btn btn-success"> Novo</a>
</p>
<table class="table">
    <tr>
        <th>Nome</th>
        <th>Nome de Usuário</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Imagem de Perfil</th>
        <th>Status</th>
        <th>Ações</th>
    </tr>
    <tr>
        <td>Nome</td>
        <td>Nome de Usuário</td>
        <td>E-mail</td>
        <td>CPF</td>
        <td>
            <img alt="imagem de perfil" id="img-preview" src="imagem/img_login.png" style="max-width:100px; max-height:100px;" />
        </td>
        <td>Status</td>
        <td>
            <a href="adm-cliente-edit" class="btn btn-warning"> Editar</a>
            <a href="adm-cliente-list" class="btn btn-info"> Detalhes</a>
            <a href="adm-cliente-del" class="btn btn-danger"> Excluir</a>
        </td>
    </tr>

</table>