<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

</head>
<body>
    <!-- <div class="navbar navbar-inverse navbar-fixed-top"> -->
    <nav class="navbar navbar-inverse ">
        <nav class="container">
            <nav class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/adm" class = "navbar-brand"><span class="material-symbols-outlined">
                    home
                    </span></a>

            </nav>
            <nav class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/adm-cliente">Clientes</a></li>
                    <li><a>Quartos</a></li>
                    <li><a>Reservas</a></li>
                </ul>
            </nav>
        </nav>
    </nav>

    <nav class="container body-content">
        <%- include(pagina) %>
        <hr />
        <footer>
            <p>&copy;2023 - Hotel IceTown</p>
        </footer>
    </nav>
</body>
</html>